<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="wrapper">
      <div class="container my-5">
        <!-- 선수 뇌피셜 페이지 -->
        <!-- 선수 정보 -->
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img class="player-pic mb-4" src="./images/선수프로필/손흥민.png" alt="">
          <p class="text-center fw-bold mb-0" style="font-size: 2.5rem;">
            손흥민
          </p>
          <p class="fw-bold mb-0" style="font-size: 2.5rem;">
            SON Heungmin
          </p>
          <p class="text-red fw-bold mb-4" style="font-size: 2.5rem;">MF</p>
          <p style="font-size: 1.8rem;">
            1992.07.08 / 183Cm / 78Kg
          </p>
          <p style="font-size: 1.8rem;">
            토트넘(잉글랜드)
          </p>
          <p class="text-muted mt-4">
            소속은 대표팀으로 선발되었을 당시 소속 입니다.
          </p>
        </div>
        <hr class="my-5">
        <!-- 하단 채팅 레이아웃 -->
        <div class="d-flex justify-content-center my-5">
          <div class="col-8">
            <div class="wrap row justify-content-center">
              <!-- 입력창 모양 -->
              <div class="col-11">
                <p class="text-navy fw-bold mb-4" style="font-size: 1.8rem;">{{ 3,000 }}개의 피셜</p>
                <div data-bs-toggle="modal" data-bs-target="#fficialModal">
                  <div class="input-group mb-3" style="height: 4.1rem;">
                    <input type="text" class="form-control" placeholder="선수에 대해 알고있는 정보를 공유해 주세요!" aria-label="피셜 작성" aria-describedby="basic-addon2">
                    <span class="input-group-text text-white d-flex justify-content-center" id="basic-addon2" style="width: 10rem; font-size: 1.6rem; background-color: #111b54;">등록</span>
                  </div>
                </div>
              </div>
              <!-- 모달 입력창 -->
              <div class="modal fade" id="fficialModal" tabindex="-1" aria-labelledby="fficialModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title" id="fficialModalLabel" style="font-size: 1.6rem;">{{ 손흥민 }} 선수에 대한 피셜 작성</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      {{ summernote }}
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                      <button type="button" class="btn btn-primary" style="font-size: 1.6rem;">등록</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 작성한 뇌피셜 -->
              <div class="chat ch1 align-items-center">
                <div class="textbox">
                  <div class="d-flex justify-content-between mb-4">
                    <a href="#" class="a-navy-red fw-bold" data-bs-toggle="modal" data-bs-target="#followModal">{{ username }}</a>
                    <!-- Username 누를 경우 Follow Modal -->
                    <div class="modal fade" id="followModal" tabindex="-1" aria-labelledby="followModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="followModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            해당 회원을 팔로우하시겠어요?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div> <!-- Follow Modal -->
                    <div>
                      <small class="text-muted">
                        <i class="bi bi-suit-heart-fill"></i>
                        {{ 200 }}
                      </small>
                      <small class="text-muted">|</small>
                      <small href="" class="text-muted">{{ 방금 전 }}</small>
                      <small class="text-muted">|</small>
                      <a href="" class="small text-muted" data-bs-toggle="modal" data-bs-target="#reportModal">신고</a>
                      <!-- 신고 Modal -->
                      <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="reportModalLabel">Modal title</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              해당 피셜을 신고하시겠어요?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div> <!-- 신고 Modal -->
                    </div>
                  </div>
                  <p class="">
                    안녕하세요. 반갑습니다.
                  </p>
                </div>
                <button class="border-0 ms-3" style="background-color: transparent;">
                  <i class="like-fficial bi bi-suit-heart"></i>
                  <!-- 좋아요 누를 경우 -->
                  <!-- <i class="like-fficial bi bi-suit-heart-fill"></i> -->
                </button>
              </div>
              <div class="chat ch1 align-items-center">
                <div class="textbox">
                  <div class="d-flex justify-content-between mb-4">
                    <a href="#" class="a-navy-red fw-bold">{{ username }}</a>
                    <div>
                      <small class="text-muted">
                        <i class="bi bi-suit-heart-fill"></i>
                        {{ 200 }}
                      </small>
                      <small class="text-muted">|</small>
                      <small href="" class="text-muted">{{ 방금 전 }}</small>
                      <small class="text-muted">|</small>
                      <a href="" class="small text-muted">신고</a>
                    </div>
                  </div>
                  <img class="pic-fficial mb-3" src="./images/임선주.jpg" alt="" style="width: 20rem; height: 20rem;">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit cumque quasi debitis voluptatibus, consequatur id, placeat eius nihil voluptatem ipsa distinctio nam fugit perspiciatis ipsum, vero iste explicabo omnis quisquam?
                  </p>
                </div>
                <button class="border-0 ms-3" style="background-color: transparent;">
                  <i class="like-fficial bi bi-suit-heart"></i>
                  <!-- 좋아요 누를 경우 -->
                  <!-- <i class="like-fficial bi bi-suit-heart-fill"></i> -->
                </button>
              </div>
              <div class="chat ch1 align-items-center">
                <div class="textbox">
                  <div class="d-flex justify-content-between mb-4">
                    <a href="#" class="a-navy-red fw-bold">{{ username }}</a>
                    <div>
                      <small class="text-muted">
                        <i class="bi bi-suit-heart-fill"></i>
                        {{ 200 }}
                      </small>
                      <small class="text-muted">|</small>
                      <small href="" class="text-muted">{{ 방금 전 }}</small>
                      <small class="text-muted">|</small>
                      <a href="" class="small text-muted">신고</a>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quia hic? Quam consequuntur dolorum dolor cum pariatur deserunt eius, iure culpa quod minima laborum? Praesentium dignissimos voluptatibus perferendis ipsum voluptas quam? Cumque qui facere, vitae aspernatur explicabo ipsam harum, voluptatibus enim aut saepe pariatur amet doloribus commodi corrupti facilis. Quibusdam asperiores cumque odit aspernatur. Totam accusantium officiis, est expedita voluptatem nobis nisi laboriosam assumenda similique minima debitis incidunt, dolor perferendis possimus. Velit vero obcaecati vel esse necessitatibus iste, cumque tempore similique id consequuntur quaerat, pariatur vitae rerum officiis enim deleniti at? Alias voluptatibus libero nesciunt tenetur, magni saepe magnam assumenda!</div>
                  </p>
                <button class="border-0 ms-3" style="background-color: transparent;">
                  <i class="like-fficial bi bi-suit-heart"></i>
                  <!-- 좋아요 누를 경우 -->
                  <!-- <i class="like-fficial bi bi-suit-heart-fill"></i> -->
                </button>
              </div>
            </div>
          </div>
        </div> <!-- 뇌피셜 -->

      </div> <!-- container -->
    </div> <!-- wrapper -->

    <!-- Top Button -->
    <div class="d-flex justify-content-end mb-5 me-5 fixed-bottom" style="z-index: 2;">
      <button id="hexagon" class="text-white fs-4" title="Go to the top" onclick="topFunction()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z"/>
        </svg>
        <div>
            위로
        </div>
      </button>
    </div>
    <!-- Footer -->
    <footer style="z-index: 1;">
      <hr />
      <div class="d-flex justify-content-between px-5 pb-5" style="margin: 0rem 10rem 0rem 7rem;">
        <div class="col-4" style="padding-top: .5rem;">
          <img
            src="images/베스트일레븐 로고.png"
            alt=""
            style="width: 20rem; height: 12.5rem;"
          />
        </div>
        <div class="d-flex justify-content-end" style="padding-top: 4rem;">
          <div class="me-5">
            <h5 class="fw-bold mb-4" style="font-size: 1.8rem">고객센터</h5>
            <p class="text-secondary">9876-5432</p>
            <p class="text-secondary">admin@best11.com</p>
          </div>
          <div>
            <p class="fw-bold" style="font-size: 1.8rem">팀 베스트일레븐</p>
            <a
              href="https://www.notion.so/BEST-ELEVEN-9fa6ddeb45cf4aa3825a46744cba42c7"
              target="_blank"
            >
              <p class="text-secondary">베스트일레븐 홈그라운드</p>
            </a>
            <a
              href="https://www.notion.so/164d3be10e96452fb8ae11adf368b8b6"
              target="_blank"
            >
              <p class="text-secondary">프로젝트 기획서</p>
            </a>
          </div>
        </div>
      </div>
      <hr class="pb-5" style="width: 84%;"/>
      <div class="d-flex justify-content-between px-5" style="padding-bottom: 5rem; margin: 0rem 10rem 0rem 9rem;">
        <p class="text-secondary">© 베스트일레븐. 2022. All Rights Reserved.</p>
        <!-- 깃헙프로필 -->
        <div class="d-flex">
          <a href="https://github.com/JeongJinGan" target="_blank" class="me-3">
            <button class="btn border-0 p-0">
              <img
                src="./images/간정진.jpg"
                style="width: 5rem; border-radius: 5rem"
                alt=""
              />
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                />
              </svg>
              <p class="text-secondary pt-2 mb-0">간정진</p>
            </button>
          </a>
          <a href="https://github.com/code-sum" target="_blank" class="me-3">
            <button class="btn border-0 p-0">
              <img
                src="./images/이수경.jpg"
                style="width: 5rem; border-radius: 5rem"
                alt=""
              />
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                />
              </svg>
              <p class="text-secondary pt-2 mb-0">이수경</p>
            </button>
          </a>
          <a href="https://github.com/snnzzoo" target="_blank" class="me-3">
            <button class="btn border-0 p-0">
              <img
                src="./images/임선주.jpg"
                style="width: 5rem; border-radius: 5rem"
                alt=""
              />
              <p class="text-secondary pt-2 mb-0">임선주</p>
            </button>
          </a>
          <a href="https://github.com/JOO-10000-Zi" target="_blank" class="me-3">
            <button class="btn border-0 p-0">
              <img
                src="./images/주세환.jpg"
                style="width: 5rem; border-radius: 5rem"
                alt=""
              />
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                />
              </svg>
              <p class="text-secondary pt-2 mb-0">주세환</p>
            </button>
          </a>
          <a href="https://github.com/forwardyoung" target="_blank">
            <button class="btn border-0 p-0">
              <img
                src="./images/차화영.jpg"
                style="width: 5rem; border-radius: 5rem"
                alt=""
              />
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                />
              </svg>
              <p class="text-secondary pt-2 mb-0">차화영</p>
            </button>
          </a>
        </div>
      </div>
    </footer>
    <!-- Top Button -->
    <script>
      // get the button
      let myBtn = document.getElementById("myBtn")

      // When the user scrolls down 30px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 30 ||
          document.documentElement.scrollTop > 30
        ) {
          myBtn.style.display = "block";
        } else {
          myBtn.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0; // for Safari
        document.documentElement.scrollTop = 0; // for Chrome, Firefox, IE, and Opera
      }
    </script>
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>
  </body>
</html>
