asgiref==3.5.2
Django==3.2.13
django-bootstrap5==22.2
pytz==2022.6
sqlparse==0.4.3
django-appconf==1.0.5
django-cleanup==6.0.0
django-imagekit==4.1.0
pilkit==2.0
Pillow==9.3.0
six==1.16.0
django-summernote==0.8.20.0
bleach==5.0.1
webencodings==0.5.1
requests==2.28.1
black==22.10.0
django-extensions==3.2.1
django-shortcuts==1.6
django-cors-headers==3.13.0
boto3==1.26.21
botocore==1.29.21
django-storages==1.13.1
jmespath==1.0.1
psycopg2-binary==2.9.5
python-dotenv==0.21.0
s3transfer==0.6.0