/* 반응형 */
html {
  font-size: 62.5%;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

@media all and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  height: 100vh;
  margin: 0;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.a-black-red {
  color: black;
}

.a-black-red:hover {
  color: #C82D36;
}

hr {
  text-align: center;
  margin: auto;
}

/* base.html - header CSS */
.header {
  width: 80%;
}

.header-a {
  font-size: 2.3rem; 
  color: inherit;
}

/* base.html - header link under */
.link-arrow:after {
  content: '';
  background-size: 100% 100%;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -28px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link-arrow:hover:after {
  right: -35px
}

.link-arrow.link-arrow-white:after {
  background-size: 100% 100%
}

.link-arrow-hover:after {
  right: -35px
}

.link {
  display: inline-block;
  position: relative;
  border: none;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-family: Montserrat, helvetica, arial, sans-serif;
  font-weight: 700
}

.link:active,
.link:focus,
.link:hover {
  outline: 0
}

.link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  width: 0;
  height: 2px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link:hover {
  color: #000
}

.link:hover:before {
  width: 100%
}

.link-theme:before {
  background: #C82D36;
}

@media only screen and (min-width:250px) {
  .main {
    padding-top: 150px;
  }
}
  
@media only screen and (min-width:768px) {
  .main {
    padding-top: 150px;
  }
}


/* base.html - header box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */

.header {
  background-color: rgba(rgba(255, 255, 255, 0.616));
  position: fixed;
  width: 80%;
  z-index: 3;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px 4px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #fff;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 2px 0px;
  text-decoration: none;
}


/* base.html - header menu */

.header .menu {
  margin-top: 10px;
  font-size: 1.2rem;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* base.html - header menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  margin-top: 8px;
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}


/* base.html - header menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* base.html - header 48em = 768px */

@media (min-width: 875px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 0px 0px 0px;
    margin-left: 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* base.html - header 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}

/* base.html - Ball CSS */

.ball-and-shadow {
  float: right;
  margin-top: 20rem;
  margin-right: 14rem;
  cursor: pointer;
}

.ball-container {
  margin: auto;
  animation: floating 4s ease-in-out infinite;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  position: relative;
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-15px);
  }

  100% {
    transform: translatey(0px);
  }
}

.ball-shadow {
  width: 40px;
  height: 15px;
  top: 50%;
  animation: expanding 5s infinite;
  position: relative;
  border-radius: 50%;
  margin: auto;
  background: radial-gradient(circle at 75% 30%, rgb(221 215 243) 5px, rgb(36, 187, 187) 8%, rgb(228, 26, 26) 60%, rgb(173, 221, 221) 100%);
  box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #3f51b500, inset 88px 0px 60px #ffffff99, inset -20px -60px 100px #87878791, inset 0 50px 140px #ffffff, 0 0 90px #39316b;
}

@keyframes expanding {
  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(0.75);
  }
}


/* base.html - footer 하단 고정 */
#wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom: 31.1rem;
}

footer {
  height: 31.1rem;
  position: relative;
  transform: translateY(-100%);
  background-color: #f6f6f6;
}

/* base.html - Top 버튼 */
#hexagon {
  background-color: #111b54;
  height: 7rem;
  width: 7.5rem;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
