/* 반응형 */
html {
  font-size: 62.5%;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

@media all and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

/* Tag */

body {
  height: 100vh;
  width: 100%;
  font-size: 1.6rem;
}

::selection {
  background-color: #b52b33;
  color: rgb(255, 255, 255);
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

hr {
  text-align: center;
  margin: auto;
}

input {
  width: auto;
  height: 5rem;
  font-size: 2rem;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 1rem;
  background-color: rgb(172, 172, 172);
}

input::placeholder {
  padding-left: 0.5rem;
  font-size: 1.6rem;
  vertical-align: middle;
}

button {
  font-size: 1.6rem;
}

main {
  margin: 0;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100vw;
}

/* Class */

/* color */
.bg-navy {
  background-color: #111b54;
}

.bg-red {
  background-color: #C82D36;
}

/* text */
.text-red {
  color: #c82d36;
}

.text-navy {
  color: #111b54;
}

.a-black-red {
  color: black;
}

.a-black-red:hover {
  color: #c82d36;
}

.a-navy-red {
  color: #111b54;
}

.a-navy-red:hover {
  color: #c82d36;
}

/* 레이아웃 정리 */
.layout-center {
  padding-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  margin-right: 25rem;
  margin-left: 25rem;
}

/* 세로선 */
.updown {
  border: 0.1rem solid rgb(105, 105, 105);
  width: 0.1rem;
  height: 20rem;
}

/* 기본 버튼(네이비 컬러) CSS */
.button {
  min-width: 150px;
  max-width: 250px;
  display: block;
  padding: 1rem 2rem;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}

.button--size-s {
  font-size: 1.6rem;
  font-weight: bold;
  color: #111b54;
}

.button--text-upper {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.button--border-thick {
  border: 2.5px solid #111b54;
}

.button--wayra {
  overflow: hidden;
  width: 245px;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s,
    background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button--wayra:hover {
  color: #fff;
  border-color: #111b54;
}
.button--wayra.button--inverted:hover {
  color: #111b54;
  border-color: #fff;
}
.button--wayra:hover::before {
  opacity: 1;
  background-color: #111b54;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
  background-color: #fff;
}

/* 기본 버튼(레드 컬러) CSS */
.red-button--size-s {
  font-size: 1.6rem;
  font-weight: bold;
  color: #c82d36;
}

.red-button--border-thick {
  border: 2.5px solid #c82d36;
}

.red-button--wayra {
  overflow: hidden;
  width: 245px;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.red-button--wayra::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s,
    background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.red-button--wayra:hover {
  color: #fff;
  border-color: #c82d36;
}
.red-button--wayra.button--inverted:hover {
  color: #c82d36;
  border-color: #fff;
}
.red-button--wayra:hover::before {
  opacity: 1;
  background-color: #c82d36;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.red-button--wayra.button--inverted:hover::before {
  background-color: #fff;
}

.btn {
  font-size: 1.6rem;
}

.btn-navy {
  color: white;
  background-color: #111b54;
  border: 1px solid #111b54;
}
.btn-navy:hover {
  color: white;
  background-color: #090e2b;
  border: 1px solid #090e2b;
}
.btn-navy:focus {
  color: white;
  background-color: #111b54;
  border: 1px solid #111b54;
}

.btn-outline-navy {
  color: #111b54;
  background-color: white;
  border: 1px solid #111b54;
}
.btn-outline-navy:hover {
  color: #111b54;
  font-weight: 550;
  background-color: white;
  border: 1px solid #111b54;
}
.btn-outline-navy:focus {
  color: #111b54;
  background-color: white;
  border: 1px solid #111b54;
}

/* base.html - header CSS */
.header {
  width: 80%;
}

.header-a {
  font-size: 2.3rem;
  color: inherit;
}

/* base.html - header link under */
.link-arrow:after {
  content: "";
  background-size: 100% 100%;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -28px;
  -webkit-transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
  transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
}

.link-arrow:hover:after {
  right: -35px;
}

.link-arrow.link-arrow-white:after {
  background-size: 100% 100%;
}

.link-arrow-hover:after {
  right: -35px;
}

.link {
  display: inline-block;
  position: relative;
  border: none;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-family: Montserrat, helvetica, arial, sans-serif;
  font-weight: 700;
}

.link:active,
.link:focus,
.link:hover {
  outline: 0;
}

.link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
  transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
}

.link:hover {
  color: #000;
}

.link:hover:before {
  width: 100%;
}

.link-theme:before {
  background: #c82d36;
}

/* base.html - header box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
.header {
  background-color: rgba(255, 255, 255, 0.725);
  position: fixed;
  width: 100%;
  z-index: 4;
  margin-top: 0;
  padding: 3rem 2rem;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

.header li a {
  display: block;
  padding: 20px 20px 4px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background: transparent;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 2px 0px;
  text-decoration: none;
}

/* base.html - header menu */
.header .menu {
  margin-top: 10px;
  font-size: 1.2rem;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* base.html - header menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  margin-top: 8px;
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* base.html - header menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* base.html - header 48em = 768px */
@media (min-width: 875px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 0px 0px 0px;
    margin-left: 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* base.html - header 48em = 768px */
@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}

/* base.html - Ball CSS */
.ball-and-shadow {
  cursor: pointer;
  position: fixed;
  margin-top: 20rem;
  margin-right: 0;
  right: 7%;
  z-index: 5;
}

.ball-container {
  animation: floating 3s ease-in-out infinite;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

@keyframes floating {
  0% {
    transform: translatey(0rem);
  }

  50% {
    transform: translatey(-3rem);
  }

  100% {
    transform: translatey(0rem);
  }
}

/* base.html - container-css */
.container-css {
  padding: 10rem 0;
}

/* base.html  .scrollToTop  */
.scrollToTop {
  z-index: 3;
  all: unset;
  cursor: pointer;
  position: fixed;
  right: 8rem;
  bottom: 9rem;
}

/* base.html - footer 하단 고정 */
#wrapper {
  height: auto;
  min-height: 100%;
}

footer {
  position: relative;
  background-color: #f6f6f6;
}

/* Responsive Footer */
.footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 3.5rem;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.footer-content h4 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  margin-bottom: 1rem;
  color: #111b54;
  font-family: "GmarketSansMedium";
}

.footer-content a {
  max-width: 50rem;
  margin: 0.5rem 1rem;
}
.footer-content a:hover {
  color: #c82d36;
}

.footer-bottom {
  background: #f6f6f6;
  width: 100vw;
  padding: 2rem;
  text-align: center;
}

.footer-bottom small {
  word-spacing: 0.2rem;
  text-transform: capitalize;
  text-align: center;
}

@media (max-width: 768px) {
  .footer-content {
    display: flex;
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
  }
}

/* base.html - Top 버튼 */
.topBtn {
  position: fixed;
  bottom: 8rem;
  right: 8%;
  opacity: 0.7;
}
.topBtn:hover {
  opacity: 0.9;
}

#hexagon {
  background-color: #111b54;
  height: 6rem;
  width: 6.5rem;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

/* korea/index.html - 인트로 동영상 */

/* 동영상 큰 화면 */
@media only screen and (min-width: 800px) {
  .video-box {
    width: 100%;
    height: 50rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    transition: all 0.3s ease-out;
  }

  .video {
    width: auto;
    height: 40rem;
  }
}

/* 동영상 작은 화면 */
@media only screen and (max-width: 800px) {
  .video-box {
    width: 100%;
    height: auto;
    transition: all 0.3s ease-out;
  }
  .video {
    width: 100%;
    height: auto;
  }
}

/* accounts/detail.html  .modal-followers img */
.modal-followers img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
}

/* accounts/detail.html  profile-bg */

.profile-bg {
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.profile-bg-img {
  width: 100vw;
  height: 25vh;
}

/* accounts/detail.html  account-detail-img */

.account-detail-img {
  top: 30vh;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  transform: scale(1.1);
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 0;
  border: 1.5rem solid rgb(255, 255, 255);
  background-color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* accounts/detail.html  profile-section */

.profile-section-one {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 8rem;
}

.profile-section-two {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.profile-section-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem;
  width: 80vw;
}

/* accounts/detail.html  EXP 영역 */
.skill-progress{
  width: 40rem;
  height: 8rem;
  padding: 2rem;
  background: linear-gradient(135deg, rgb(209, 209, 209), rgb(69, 70, 92));
  border-radius: 10rem;
  color : rgb(255, 255, 255);
  box-shadow: 0 1rem 1rem rgba(95, 95, 95, 0.533);
  top : 78rem;
}

.item {
  transition: 0.4s;

}
.item:hover {
  border-radius: 3px;
  transform: scale(1.05);
}

.item p{
  overflow: hidden;
  margin-bottom : 0;
}

.item p span:nth-child(1){
  float : left;
  font-weight: bold;
}
.item p span:nth-child(2){
  float: right;
}

.progress{
  border : 1px solid #ffffff;
  background: transparent;
  padding : 5px;
  border-radius: 3px;
}

.progress-level{
  height: 10px;
  background : linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
  animation: ani;
  animation-duration: 3s;
  animation-fill-mode: both; 
}

@keyframes ani{
  0%{
      width: 0;
  }
}

/* accounts/detail.html  fficial-card */

.fficial-card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #C6C6C6;
  position: relative;
  overflow: hidden;
  margin: 2rem;
  padding: 3rem;
  transition: all 0.3s ease-out;
}

.fficial-card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.fficial-card:hover .overlay {
  transform: scale(4) translateZ(0);
}


/* accounts/special_feed.html  실시간 뉴스 영역 */
.feed-section-one {
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
  background-color:#F6F6F6;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.rolling_box {
  width: 90vw;
  height: 6rem;
  margin-top: 2rem;
}

.rolling_box ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 2rem;
}

.rolling_box ul li {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: absolute;
  transition: top 0.75s;
  top: 100%;
  z-index: 1;
  background-color: #F6F6F6;
}

/* accounts/special_feed.html  피셜랭킹 영역 */
.feed-section-two{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
}

.wrapper .outer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .card{
  background: #fff;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  justify-content: space-between;
  border-radius: 100px 0 0 100px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
}
.outer:hover .card{
  animation-play-state: paused;
}
.wrapper .card:last-child{
  animation-delay: calc(-3s * var(--delay));
}
@keyframes animate {
  0%{
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20%{
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%, 40%{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%, 60%{
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100%{
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
.card .content{
  display: flex;
  align-items: center;
}

.card .img img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card .details{
  margin-left: 80px;
}
.details span{
  font-weight: 600;
  font-size: 18px;
}

/* 큰 화면 */
@media only screen and (min-width: 800px) {
  .wrapper .card .img{
    height: 10rem;
    width: 10rem;
    position: absolute;
    left: 1rem;
    top: 15%;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }

  .card a{
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
  }
  .card a:hover{
    transform: scale(0.94);
  }
}

/* 작은 화면 */
@media only screen and (max-width: 800px) {
  .wrapper .card .img{
    height: 8rem;
    width: 8rem;
    position: absolute;
    left: 1rem;
    top: 15%;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }

  .card a{
    display: none;
  }
}


/* korea/index.html main 태그 내부 div */
.under-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* korea/index.html 대한민국 카드 */
.korea-card {
  width: 50rem;
  background-color: #f6f6f6;
  padding: 5rem;
  margin: 1.5rem;
  transition: all 0.3s ease-out;
}

/* korea/index.html  베스트 일레븐 영역 */

.carousel-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#slideshow {
  margin: 0 auto;
  height: 40rem;
  width: 100%;
  box-sizing: border-box;
}

.entire-content {
  margin: auto;
  width: 10rem;
  height: 12rem;
  perspective: 80rem;
  position: relative;
  padding-top: 5rem;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 30s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 10rem;
  height: 12rem;
  border: 1px solid #3b444b;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(30rem);
}
.content-carrousel figure:nth-child(2) {
  transform: rotateY(32deg) translateZ(30rem);
}
.content-carrousel figure:nth-child(3) {
  transform: rotateY(64deg) translateZ(30rem);
}
.content-carrousel figure:nth-child(4) {
  transform: rotateY(96deg) translateZ(30rem);
}
.content-carrousel figure:nth-child(5) {
  transform: rotateY(128deg) translateZ(30rem);
}
.content-carrousel figure:nth-child(6) {
  transform: rotateY(160deg) translateZ(30rem);
}
.content-carrousel figure:nth-child(7) {
  transform: rotateY(192deg) translateZ(30rem);
}
.content-carrousel figure:nth-child(8) {
  transform: rotateY(224deg) translateZ(30rem);
}
.content-carrousel figure:nth-child(9) {
  transform: rotateY(256deg) translateZ(30rem);
}
.content-carrousel figure:nth-child(10) {
  transform: rotateY(288deg) translateZ(30rem);
}
.content-carrousel figure:nth-child(11) {
  transform: rotateY(320deg) translateZ(30rem);
}

.shadow {
  position: absolute;
  box-shadow: 0px 0px 20px 0px #000;
  border-radius: 1px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
  background-color: #202e7c;
}

.content-carrousel img:hover {
  transform: scale(1.3);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* korea/index.html 선수 포지션 탭 */

.position-tab {
  height: auto;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3rem;
  line-height: 1.5;
}

.tabs {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

input[name="tabs"] {
  float: left;
  opacity: 0;
  position: absolute;
}

input[name="tabs"] ~ label {
  padding: 1em;
  width: 20%;
  float: left;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: bold;
}
input[name="tabs"] ~ label:hover {
  background: #d9d9d9;
}
input[name="tabs"] ~ label:focus {
  outline: 0;
}

.tab {
  height: 100%;
  width: 100%;
  display: none;
  padding: 8rem 1rem 1rem;
}

label[for="toggle-apples"] {
  border-top: 0.8rem solid #b52b33;
  background: #fff;
  text-transform: uppercase;
}

#toggle-apples:checked ~ .tab-apples {
  display: block;
  background: #f6f6f6;
}

#toggle-apples:checked ~ label[for="toggle-apples"] {
  cursor: default;
  background: #f6f6f6;
  color: #b52b33;
}

label[for="toggle-bananas"] {
  border-top: 0.8rem solid #aac706;
  background: #fff;
  border-left: 0.1rem solid #7e7e7e;
  text-transform: uppercase;
}

#toggle-bananas:checked ~ .tab-bananas {
  display: block;
  background: #f6f6f6;
}

#toggle-bananas:checked ~ label[for="toggle-bananas"] {
  cursor: default;
  background: #f6f6f6;
  color: #aac706;
}

label[for="toggle-cherries"] {
  border-top: 0.8rem solid #15c68e;
  background: #fff;
  border-left: 0.1rem solid #7e7e7e;
  text-transform: uppercase;
}

#toggle-cherries:checked ~ .tab-cherries {
  display: block;
  background: #f6f6f6;
}

#toggle-cherries:checked ~ label[for="toggle-cherries"] {
  cursor: default;
  background: #f6f6f6;
  color: #15c68e;
}

label[for="toggle-oranges"] {
  border-top: 0.8rem solid #14a3bb;
  background: #fff;
  border-left: 0.1rem solid #7e7e7e;
  text-transform: uppercase;
}

#toggle-oranges:checked ~ .tab-oranges {
  display: block;
  background: #f6f6f6;
}

#toggle-oranges:checked ~ label[for="toggle-oranges"] {
  cursor: default;
  background: #f6f6f6;
  color: #14a3bb;
}

label[for="toggle-pears"] {
  border-top: 0.8rem solid #776eef;
  background: #fff;
  border-left: 0.1rem solid #7e7e7e;
  text-transform: uppercase;
}

#toggle-pears:checked ~ .tab-pears {
  display: block;
  background: #f6f6f6;
}

#toggle-pears:checked ~ label[for="toggle-pears"] {
  cursor: default;
  background: #f6f6f6;
  color: #776eef;
}

.text-title {
  display: none;
}
@media screen and (min-width: 900px) {
  .text-title {
    display: inline-block;
    vertical-align: middle;
  }
}

@media (min-width: 300px) {
  .text-title {
    display: inline-block;
    vertical-align: middle;
  }
}

/* korea/index.html player-card */

.player-card {
  width: 40rem;
  background-color: #fff;
  margin: 1.5rem;
  padding: 4rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
}

.player-card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.player-card:hover .overlay {
  transform: scale(4) translateZ(0);
}

/* korea/index.html position-color */

.position-color {
  --bg-color: #b52b33;
  --bg-color-light: #d37679;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(252, 178, 178, 0.48);
}

/* korea/index.html overlay */

.overlay {
  width: auto;
  height: auto;
  position: absolute;
  border-radius: 50%;
  background: var(--bg-color);
  top: auto;
  left: auto;
  z-index: 0;
  transition: transform 0.3s ease-out;
}

/* korea/index.html position-box */

.position-box {
  background-color: #b52b33;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
}

.fw-position-box {
  background-color: #aac706;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
}

.mf-position-box {
  background-color: #15c68e;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
}

.df-position-box {
  background-color: #14a3bb;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
}

.gk-position-box {
  background-color: #776eef;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
}

/* korea/detail.html */

/* 선수 프로필사진 */
.player-pic-wrapper {
  width: 23rem;
  height: 23rem;
  border-radius: 70%;
  overflow: hidden;
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.player-pic-wrapper-support {
  width: 23rem;
  height: 23rem;
  border-radius: 70%;
  overflow: hidden;
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.player-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 인스타그램 */
.instagram {
  width: 2rem;
  padding-bottom: 8.5px;
}

/* 새로고침 버튼 */
.reload {
  background-color: white;
  color: #6c757d;
  font-size: 1.8rem;
  border: 1px solid #6c757d;
  margin: 0;
  padding: 0 0.5rem;
}

/* 채팅창 디자인 */
.wrap {
  padding: 4rem 0;
  background-color: #f6f6f6;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wrap .chat {
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  max-width: calc(100% - 0.5rem);
}

.wrap .chat .textbox {
  position: relative;
  /* 말풍선은 텍스트의 양에 따라 크기가 달라져야 하기에 display: inline-block;
  인라인 속성이면 크기가 사라지기 때문에 상하 마진이나 패딩이 먹히지 않는다.
  div의 기본값인 block 상태 => 텍스트의 양과 상관 없이 늘 최대 가로 사이즈가 100%로 적용 */
  display: inline-block;
  max-width: calc(100% - 0.5rem);
  min-width: 40rem;
  padding: 1.5rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.8px;
}

.wrap .chat .textbox::before {
  position: absolute;
  display: block;
  top: 0;
  font-size: 1.6rem;
}

.wrap .ch1 .textbox {
  margin-left: 2rem;
  background-color: white;
}

.wrap .ch1 .textbox::before {
  left: -1.3rem;
  content: "◀";
  color: white;
}

/* 아이콘 */
.like-fficial {
  color: #111b54;
  font-size: 2rem;
}

/* 신고하기 form hidden */
.form-hidden {
  display: none;
}

