{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
  <style>
    .account-detail-img {
      width: 10.2180vw;
      height: 10.2180vw;
      object-fit: cover;
      border-radius: 50%;
      transform: scale(1.1);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .account-detail-follow-btn {
      margin-left: 1.0899vw;
      padding: 0.0681vw 0.6812vw;
      border-radius: 0.8856vw;
      background-color: #111B54;
      font-size: 1.1580vw;
    }

    .modal-followers img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }

    .account-detail-picture img {
      width: 270px;
      height: 270px;
      margin: 0 10px;
      object-fit: cover;
    }
  </style>
  <!-- 팔로워 모달 -->
  <div class="modal fade title-font" id="followerModal" tabindex="-1" aria-labelledby="followerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center" id="followerModalLabel">Followers</h5>
        </div>
        <div class="modal-body">
          {% if user.followers.all %}
            {% for follower in user.followers.all %}
              <a href="{% url 'accounts:detail' follower.pk %}" class="modal-followers" style="color: #111B54; text-decoration: none;">
                <div class="d-flex align-items-center">
                  <!-- 프로필 이미지가 있으면 -->
                  {% if follower.profile_image %}
                    <img src="{{ follower.profile_image.url }}">
                  {% else %}
                    <img src="{% static 'images/ddung.jpg' %}">
                  {% endif %}
                  <h1>{{ follower.username }}</h1>
                </div>
              </a>
            {% endfor %}
          {% else %}
            <div class="text-center">팔로워가 없습니다.</div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" style="background-color: #C82D36; color:white" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 팔로잉 모달 -->
  <div class="modal fade title-font" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center" id="followingModalLabel">Followings</h5>
        </div>
        <div class="modal-body">
          {% if user.followings.all %}
            {% for following in user.followings.all %}
              <a href="{% url 'accounts:detail' following.pk %}" class="modal-followers" style="color: #111B54; text-decoration: none;">
                <div class="d-flex align-items-center">
                  <!-- 프로필 이미지가 있으면 -->
                  {% if following.profile_image %}
                    <img src="{{ following.profile_image.url }}">
                  {% else %}
                    <img src="{% static 'images/ddung.jpg' %}">
                  {% endif %}
                  <h1>{{ following.username }}</h1>
                </div>
              </a>
            {% endfor %}
          {% else %}
            <div class="text-center">팔로우 중인 사람이 없습니다.</div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" style="background-color: #C82D36; color:white" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container my-3" style="padding-top: 10rem;">
    <div class="d-flex justify-content-center">
      {% if user.profile_image %}
        <img src="{{ user.profile_image.url }}" class="account-detail-img"><br><br>
      {% else %}
        <img src="{% static 'images/Soccer-Ball.png' %}" alt="디폴트프로필" class="account-detail-img">
      {% endif %}
    </div>
    <h1 style="font-size: 4rem;" class="text-center mt-5">{{ user }}</h1><br>
    <div class="counts d-flex justify-content-center mb-3 flex-row-reverse">
      <div class="d-flex flex-row">
        <div class="me-5">
          <p style="cursor: pointer; font-size: 2rem;" class="text-center" data-bs-target="#followerModal" data-bs-toggle="modal">
            팔로워
            <span class="ms-2 fw-bold" id="followers-count">
              {{ user.followers.count }}
            </span>
          </p>
        </div>
        <div>
          <p style="cursor: pointer; font-size: 2rem;" class="text-center" data-bs-target="#followingModal" data-bs-toggle="modal">팔로잉
            <span class="ms-2 fw-bold" id="followings-count">
              {{ user.followings.count }}
            </span>
          </p>
        </div>
      </div>
    </div>
    {% if request.user != user %}
      <form method="POST" class="follow-forms d-flex justify-content-center" data-user-id="{{ user.pk }}">
        {% csrf_token %}
        {% if request.user in user.followers.all %}
          <button type="submit" class="btn fw-bold" style="border-radius:10rem; border-color: #C82D36;" id="follow-{{ user.pk }}">팔로우 취소</button>
        {% else %}
          <button type="submit" class="btn fw-bold" style="border-radius:10rem; background-color: #C82D36; color:white" id="follow-{{ user.pk }}">팔로우</button>
        {% endif %}
      </form>
    {% endif %}

    <div class="container" style="width:70%">
      <table class="table mt-3 text-center">
        <thead>
          <tr class="thead-dark">
            <!-- <th>아이디</th> <th>이름</th> -->
            <th style="background-color: #e9ecef;">활동지수</th>
            <th style="background-color: #e9ecef;">직업</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <td>{{ user.username }}</td> <td>{{ user.first_name }}</td> -->
            <td class="follow-forms" id="exp-count" style="color:#111B54">{{ user.exp }}</td>
            <!-- {% if user.exp >= 80 and comment_count > 12 %} <td>감독</td> {% elif user.exp < 30 %} <td>벤치</td> {% elif user.exp < 80 %} <td>선수</td> {% else %} <td>선수</td> {% endif %} -->
            <td class="follow-forms" id="job" style="color:#111B54">{{ job }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br><br>
    <h2 style="padding-bottom: 2rem;" class="fw-bolder text-center">작성한 피셜</h2>
    <p class="fw-bolder" style="color:#111B54">총
      {{ user.comment_set.count }}개</p>
    <table class="table">
      <thead>
        <tr class="thead-dark">
          <th>작성 선수</th>
          <th>뇌피셜 내용</th>
        </tr>
      </thead>
      <tbody>
        {% for comment in user.comment_set.all %}
          <tr>
            <td>{{ comment.players.name }}</td>
            <td>
              <a href="{% url 'korea:detail' comment.players.pk %}">{{comment.content|safe}}</a>
            </td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
      <br>
      <h2 style="padding-bottom: 2rem;" class="fw-bolder text-center mt-5">응원하는 선수</h2>
      <div class="container">
        <p class="fw-bolder" style="color:#111B54">
          {% if user.like_player %}{{ user.like_player.count }}
          {% else %}0
          {% endif %}명을 응원하는 중</p>
      </p>
      <hr>
    </div>
    <!-- <table class="table"> <thead> <tr class="thead-dark"> <th>찜한 수</th> <th>찜한 선수</th> </tr> </thead> <tbody> {% for like in user.like_player.all %} <tr> <td>{{ forloop.counter}}</td> <td> <a href="{% url 'korea:detail' like.pk %}">{{like.name}}</a> </td> </tr> {% endfor%} </tbody> </table> -->
    <!-- 찜한 선수 -->
    <div class="container text-center">
      <div class="container row">
        {% if user.like_player.count != 0 %}
          {% for like in user.like_player.all %}
            <!-- 응원하는 선수 Card -->
            <div class="card my-4 mx-3 col-1 col-sm-2 col-md-6 col-lg-12" style="width:20%; border-radius:3rem; border-color: rgb(155, 149, 149); box-shadow:1rem 3rem 3rem 1.5rem rgba(141, 88, 88, 0.687)">
              <a href="{% url "korea:detail" like.pk %}" class="a-black-red">
                <img src="{{ like.player_image }}" class="card-img-top" style='border-radius:3rem 3rem 0 0; object-fit: contain;' alt="player image">
                <div class="card-body">
                  <p class="card-text text-center fw-bolder">{{ like.name }}
                    {{ like.english_name }}
                  </p>
                  <p class="card-text text-center fw-bolder">{{ like.team }}</p>
                  <p class="card-text text-center fw-bolder">{{ like.position }}</p>
                </div>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <a href="{% url 'korea:index' %}" style="color:#111B54">
            <h4 class="mt-5 fw-bolder">우리나라 선수를 응원해주세요!!!</h4>
          </a>
        {% endif %}
      </div>
    </div>

    <br>

    {% if request.user == user %}
      <div class="float-end mx-5 px-5">
        <a href="{% url 'accounts:update' %}" type="button" class="btn me-3" style="background-color: #111B54; color:white">개인 정보 수정</a>
        <a href="{% url 'accounts:change_password' %}" class='btn' style="border-color:#111B54; color:#111B54">비밀번호 변경</a>
      </div>
    {% endif %}
  </div>

  <!-- 팔로우 비동기 -->
  <!-- 비동기 CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    const forms = document.querySelectorAll(".follow-forms")
    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value

      forms
      .forEach((form) => {
        form.addEventListener('submit', function (event) {
          event.preventDefault();
          const userId = event
            .target
            .dataset
            .userId

            axios({
              method: 'post',
              url: `/accounts/${userId}/follow/`,
              headers: {
                'X-CSRFToken': csrftoken
              }
            })
            .then((response) => {
              console.log(response.data)
              const isFollowed = response.data.is_Followed
              const followBtn = document.querySelector(`#follow-${userId}`)
              if (isFollowed === true) {
                followBtn.innerText = "팔로우 취소"
                followBtn
                  .classList
                  .remove('btn-primary')
                followBtn
                  .classList
                  .add('btn-danger')
              } else {
                followBtn.innerText = "팔로우"
                followBtn
                  .classList
                  .remove('btn-danger')
                followBtn
                  .classList
                  .add('btn-primary')
              }
              const followersCount = response.data.followers_count
              const followingsCount = response.data.followings_count
              const expCount = response.data.exp_count
              const commentCount = response.data.comment_count
              const jobtd = document.querySelector('#job')
              const followersCountTag = document.querySelector('#followers-count')
              const followingsCountTag = document.querySelector('#followings-count')
              const expCountTag = document.querySelector('#exp-count')
              followersCountTag.innerText = followersCount
              followingsCountTag.innerText = followingsCount
              expCountTag.innerText = expCount
              if (expCount < 30) {
                jobtd.innerText = '벤치'
              } else if (expCount < 80) {
                jobtd.innerText = '선수'
              } else if (expCount >= 80 && commentCount > 12) {
                jobtd.innerText = '감독'
              }
            })
        })
      })
  </script>
{% endblock content %}