{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <div style="padding-top: 15rem;">
    <h1 style="font-size: 3rem; padding-bottom: 2rem;" class="fw-bold text-center">회원가입</h1>
    <div class='d-flex justify-content-center col-6 m-auto'>
      <div style="border-top:0.1rem solid black;" class="mt-2">
        <form action="" method="POST" enctype="multipart/form-data" class="mt-5">
          {% csrf_token %}
          {% bootstrap_form form form_group_class="form-group" size="lg" %}
          <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="button button--wayra button--border-thick button--text-upper button--size-s">회원가입</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}