{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<style>
 .rolling_box {
  width: 700px;
  height: 30px;
  text-align: left;
}

.rolling_box ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.rolling_box ul li {
  width: 100%;
  height: 100%;
  transition: .5s;
  position: absolute;
  transition: top .75s;
  top: 100%;
  z-index: 1;
  background-color: #ffffff;
}

.layout-ct {
  padding-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  margin-right: 25rem;
  margin-left: 25rem;
}

.ho {
  border: 0.1rem solid rgb(105, 105, 105);
  width: 0.1rem;
  height: 10rem;
}
.account-detail-img {
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  background-position: center center;
  background-size: cover;
}
.tags {
    display: inline-block;
    padding: 0.4087vw 1.0218vw 0.1362vw;
    margin: 0.5450vw 0.8856vw;
    background-color: #ffffff;
    border-radius: 1.3624vw;
    font-size: 1.0218vw;
  }

.feed-content {
  display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: rgb(179, 179, 179);
    border: 1px solid #111b54;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    pointer-events: auto;
    box-sizing: border-box;
}

.feed-content-hasgtag {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 8px;
}

.feed-content-hwrapper {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.feed-content-tag {
  display: flex;
  margin-top: 0px;
}

.feed-comment {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;
  position: relative;
}

.feed-comment-space {
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 8px;
}
.feed-comment-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-bottom: 8px;
  max-height: 288px;
  word-break: break-word;
  white-space: pre-line;
  overflow: hidden;
  color: rgb(51, 51, 51);
  font-size: 15px;
  line-height: 1.6em;
  transition: all 0.2s ease-in-out 0s;
  position: relative;
}

</style>
<div class="container" style="padding-top: 10rem;">
  <div class="layout-center">
    <div class="col-12 col-md-12 col-xl-12 col-xxl-12 px-4 mt-4">
      <div class="row pt-4" style="background-color:rgb(255, 255, 255); border-radius:10px; overflow:hidden; height:100%;">
        <div class="col-12 col-md-12 mb-3" style="text-align:center; display:flex; flex-direction:row; align-items:center;">
          <h1 class="fw-bold" style="margin-bottom:0;">월드컵 뉴스 기사</h1>
          <p class="ms-3" style="color:gray; font-size:1rem; margin-bottom:0;">최신 월드컵 뉴스를 확인해보세요⚽</p>
        </div>
        <div class="rolling_box" style="padding-left:0;">
          <ul id="scroll">
            {% for key,value in dic.items %}
            <li style="list-style:none;"><a href="{{value}}" style="color:#111b54;">{{key}}</a></li>
            <br>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="layout-center">
    <div class="layout-ct ho"></div>
  </div>
    <div class="account-detail">
      <div class="d-flex justify-content-center align-items-center account-detail-container title-font">
        <!-- 프로필 이미지가 있으면 -->
        {% for comment in comments %}
        <div class="account-detail-profile">
          {% if comment.user.profile_image %}
            <img src="{{ comment.user.profile_image.url }}" class="account-detail-img" style="border: 0.6px solid #6c757d7f;"><br><br>
          {% else %}
            <img src="{% static 'images/Soccer-Ball.png' %}" alt="디폴트프로필" class="account-detail-img">
          {% endif %}
          <table>
            <tbody>
              <tr>
                <th>{{ comment.user.username }}<small class="text-muted"> 님이 피셜을 작성했습니다.</small>
              </tr>
              <tr>
                <th><small class="text-muted">
                  {% if comment.is_updated == False %}
                    {% if comment.created_string == False %}
                      {{ comment.created|date:'Y.m.d' }}
                    {% else %}
                      {{ comment.created_string }}
                    {% endif %}
                  {% else %}
                    {% if comment.created_string == False %}
                      {{ comment.updated_at|date:'Y.m.d' }}
                    {% else %}
                      {{ comment.created_string }}
                    {% endif %}
                    (수정됨)
                  {% endif %}
                </small></th>
              </tr>
            </tbody>
          </table>
          <div class="feed-content">
            <div class="feed-content-hashtag">
              <div class="feed-content-hwrapper">
                <div class="feed-content-tag">
                  <label class="tags" style="color: #ffffff;"><a href="{% url 'korea:detail' comment.players.pk %}" class="a-black-red">#{{comment.players.name}}</a></label>
                </div>
              </div>
            </div>
            <div class="feed-comment">
              <div class="feed-comment-space">
                <div class="feed-comment-content">
                  {{comment.content|safe}}
                </div>
              </div>
            </div>  
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="flex-wrap my-3 pb-5">
    <main class="container d-flex justify-content-center rounded bg-white border my-5">
        <section class="container" style="width: 85%; height: auto;">
          <table class="table my-5 mt-3">
            <thead>
              <tr>
                <th scope="col">피셜 No.</th>
                <th scope="col">피셜 작성자</th>
                <th scope="col">선수</th>
                <th scope="col">피셜</th>
              </tr>
            </thead>
            <tbody>
              {% for comment in comments %}
                <tr>
                  <td scope="row" class="align-middle">{{ forloop.counter }}</td>
                  <td scope="row" class="align-middle">{{ comment.user.username }}</td>
                  <td class="align-middle">
                  <a href="" class="text-decoration-none text-dark">
                    <span class="nav1-text">{{ comment.players.name }}</span>
                  </a>
                  </td>
                  <td>
                  <a href="" class="text-decoration-none text-dark">
                    <span class="nav1-text"><a href="{% url 'korea:detail' comment.players.pk %}">{{comment.content|safe}}</a></span>
                  </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
    </main>
  </div>     
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.js"></script>
<script>
function textScroll(scroll_el_id) {
    this.objElement = document.getElementById(scroll_el_id);
    this.objElement.style.position = 'relative';
    this.objElement.style.overflow = 'hidden';

    this.objLi = this.objElement.getElementsByTagName('li');
    this.height = this.objElement.offsetHeight; // li 엘리먼트가 움직이는 높이(외부에서 변경가능)
    this.num = this.objLi.length; // li 엘리먼트의 총 갯수
    this.totalHeight = this.height*this.num; // 총 높이
    this.scrollspeed = 2; // 스크롤되는 px
    this.objTop = new Array(); // 각 li의 top 위치를 저장
    this.timer = null;
    
    for(var i=0; i<this.num; i++){
        this.objLi[i].style.position = 'absolute';
        this.objTop[i] = this.height*i;
        this.objLi[i].style.top = this.objTop[i]+"px";
    }
}

textScroll.prototype.move = function(){
    for(var i=0; i<this.num; i++) {
        this.objTop[i] = this.objTop[i] - this.scrollspeed;
        this.objLi[i].style.top = this.objTop[i]+"px";
    }
    if(this.objTop[0]%this.height == 0){
        this.jump();
    }else{
        clearTimeout(this.timer);
        this.timer = setTimeout(this.name+".move()",50);
    }
}

textScroll.prototype.jump = function(){
    for(var i=0; i<this.num; i++){
        if(this.objTop[i] == this.height*(-2)){
            this.objTop[i] = this.objTop[i] + this.totalHeight;
            this.objLi[i].style.top = this.objTop[i]+"px";
        }
    }
    clearTimeout(this.timer);
    this.timer = setTimeout(this.name+".move()",3000);
}

textScroll.prototype.start = function() {
    this.timer = setTimeout(this.name+".move()",3000);
}

var real_search_keyword = new textScroll('scroll'); // 스크롤링 하고자하는 ul 엘리먼트의 id값을 인자로 넣습니다
real_search_keyword.name = "real_search_keyword"; // 인스턴스 네임을 등록합니다
real_search_keyword.start(); // 스크롤링 시작
</script>

{% endblock content %}