{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}

  <div style="padding-top: 5rem;">
    <!-- section 1 : 뉴스 영역 시작 -->
    <div class="feed-section-one">
      <div class="row d-flex justify-content-center text-center">
        <h1 class="fw-bold m-0">실시간 월드컵 뉴스</h1>
        <div class="rolling_box">
          <ul id="rolling_box">
            <ul id="scroll">
              {% for key, value in dic.items %}
                <li style="list-style:none;">
                  <a href="{{ value }}" class="a-black-red" style="font-size: 1.5rem;">
                    <span class="fw-bold" style="color: #c82d36;">NEW</span>
                    {{ key }}</a>
                </li>
              {% endfor %}
            </ul>
        </ul>
      </div>
    </div>
  </div>
  <!-- section 1 : 뉴스 영역 끝 -->

  <!-- section 2 : 피셜랭킹 영역 시작 -->
  <div class="feed-section-two-header">
    <h1>지금 뜨는 피셜랭킹</h1>
  </div>
  <div class="feed-section-two">
    <div class="wrapper">
      <div class="outer">
        <div class="card" style="--delay:-1;">
          {% for comment in like_comments_first %}
            <div class="content" style="cursor: pointer;" onclick="location.href='{% url 'korea:detail' comment.players.pk %}'">
              <div class="img">
                {% if comment.user.profile_image %}
                  <div class="gold-box">1위</div>
                  <img src="{{ comment.user.profile_image.url }}" alt="작성자프로필">
                {% else %}
                  <div class="gold-box">1위</div>
                  <img src="{% static 'images/Soccer-Ball.png' %}" alt="디폴트프로필">
                {% endif %}
              </div>
              <div class="details">
                <span class="name">{{ comment.user.username }}
                  <span class="fw-normal fs-4 text-muted ms-4">
                    <i class="bi bi-hand-thumbs-up"></i>
                    {{ comment.like_users.count }}명이 추천해요</span></span>
                <p>{{ comment.content|safe }}</p>
              </div>
            </div>
            <a href="{% url 'korea:detail' comment.players.pk %}" class="button button--wayra button--border-thick button--text-upper button--size-s">더보기</a>
          {% endfor %}
        </div>
        <div class="card" style="--delay:0;">
          {% for comment in like_comments_second %}
            <div class="content" style="cursor: pointer;" onclick="location.href='{% url 'korea:detail' comment.players.pk %}'">
              <div class="img">
                {% if comment.user.profile_image %}
                  <img src="{{ comment.user.profile_image.url }}" alt="작성자프로필">
                  <div class="silver-box">2위</div>
                {% else %}
                  <img src="{% static 'images/Soccer-Ball.png' %}" alt="디폴트프로필">
                  <div class="silver-box">2위</div>
                {% endif %}
              </div>
              <div class="details">
                <span class="name">{{ comment.user.username }}
                  <span class="fw-normal fs-4 text-muted ms-4">
                    <i class="bi bi-hand-thumbs-up"></i>
                    {{ comment.like_users.count }}명이 추천해요</span></span>
                <p>{{ comment.content|safe }}</p>
              </div>
            </div>
            <a href="{% url 'korea:detail' comment.players.pk %}" class="button button--wayra button--border-thick button--text-upper button--size-s">더보기</a>
          {% endfor %}
        </div>
        <div class="card" style="--delay:1;">
          {% for comment in like_comments_third %}
            <div class="content" style="cursor: pointer;" onclick="location.href='{% url 'korea:detail' comment.players.pk %}'">
              <div class="img">
                {% if comment.user.profile_image %}
                  <img src="{{ comment.user.profile_image.url }}" alt="작성자프로필">
                  <div class="bronze-box">3위</div>
                {% else %}
                  <img src="{% static 'images/Soccer-Ball.png' %}" alt="디폴트프로필">
                  <div class="bronze-box">3위</div>
                {% endif %}
              </div>
              <div class="details">
                <span class="name">{{ comment.user.username }}
                  <span class="fw-normal fs-4 text-muted ms-4">
                    <i class="bi bi-hand-thumbs-up"></i>
                    {{ comment.like_users.count }}명이 추천해요</span></span>
                <p>{{ comment.content|safe }}</p>
              </div>
            </div>
            <a href="{% url 'korea:detail' comment.players.pk %}" class="button button--wayra button--border-thick button--text-upper button--size-s">더보기</a>
          {% endfor %}
        </div>
        <div class="card" style="--delay:2;">
          {% for comment in like_comments_four %}
            <div class="content" style="cursor: pointer;" onclick="location.href='{% url 'korea:detail' comment.players.pk %}'">
              <div class="img">
                {% if comment.user.profile_image %}
                  <img src="{{ comment.user.profile_image.url }}" alt="작성자프로필">
                  <div class="bg-navy">4위</div>
                {% else %}
                  <img src="{% static 'images/Soccer-Ball.png' %}" alt="디폴트프로필">
                  <div class="bg-navy">4위</div>
                {% endif %}
              </div>
              <div class="details">
                <span class="name">{{ comment.user.username }}
                  <span class="fw-normal fs-4 text-muted ms-4">
                    <i class="bi bi-hand-thumbs-up"></i>
                    {{ comment.like_users.count }}명이 추천해요</span></span>
                <p>{{ comment.content|safe }}</p>
              </div>
            </div>
            <a href="{% url 'korea:detail' comment.players.pk %}" class="button button--wayra button--border-thick button--text-upper button--size-s">더보기</a>
          {% endfor %}
        </div>
        <div class="card" style="--delay:2;">
          {% for comment in like_comments_five %}
            <div class="content" style="cursor: pointer;" onclick="location.href='{% url 'korea:detail' comment.players.pk %}'">
              <div class="img">
                {% if comment.user.profile_image %}
                  <img src="{{ comment.user.profile_image.url }}" alt="작성자프로필">
                  <div class="bg-navy">5위</div>
                {% else %}
                  <img src="{% static 'images/Soccer-Ball.png' %}" alt="디폴트프로필">
                  <div class="bg-navy">5위</div>
                {% endif %}
              </div>
              <div class="details">
                <span class="name">{{ comment.user.username }}
                  <span class="fw-normal fs-4 text-muted ms-4">
                    <i class="bi bi-hand-thumbs-up"></i>
                    {{ comment.like_users.count }}명이 추천해요</span></span>
                <p>{{ comment.content|safe }}</p>
              </div>
            </div>
            <a href="{% url 'korea:detail' comment.players.pk %}" class="button button--wayra button--border-thick button--text-upper button--size-s">더보기</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- section 2 : 피셜랭킹 영역 끝 -->

  <!-- section 3 : 팔로우 하는 유저의 피셜피드 영역 시작 -->
  <div class="feed-section-three">
    {% for comment in comments %}
      <div class="fficial-card position-color">
        <div class="overlay"></div>
        <div class="d-flex flex-row align-items-center justify-content-between">
          <div>
            <span class="badge bg-navy me-3" style="font-size: 2rem;">#{{ comment.players.name }}</span>
            <span class="badge bg-red" style="font-size: 2rem;">♥&nbsp;{{ comment.like_users.count }}</span>
          </div>
        </div>
        <a href="{% url 'korea:detail' comment.players.pk %}" class="a-black-red">
          <div class="d-flex flex-column mt-4">
            <p>{{ comment.content|safe }}</p>
            <p class="text-end">{{ comment.created_at|date:'Y-m-d' }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <!-- section 3 : 팔로우 하는 유저의 피셜피드 영역 끝 -->
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.js"></script>
<script>
  function textScroll(scroll_el_id) {
    this.objElement = document.getElementById(scroll_el_id);
    this.objElement.style.position = 'relative';
    this.objElement.style.overflow = 'hidden';

    this.objLi = this
      .objElement
      .getElementsByTagName('li');
    this.height = this.objElement.offsetHeight; // li 엘리먼트가 움직이는 높이(외부에서 변경가능)
    this.num = this.objLi.length; // li 엘리먼트의 총 갯수
    this.totalHeight = this.height * this.num; // 총 높이
    this.scrollspeed = 1; // 스크롤되는 px
    this.objTop = new Array(); // 각 li의 top 위치를 저장
    this.timer = null;

    for (var i = 0; i < this.num; i++) {
      this
        .objLi[i]
        .style
        .position = 'absolute';
      this.objTop[i] = this.height * i;
      this
        .objLi[i]
        .style
        .top = this
        .objTop[i] + "px";
    }
  }

  textScroll.prototype.move = function () {
    for (var i = 0; i < this.num; i++) {
      this.objTop[i] = this.objTop[i] - this.scrollspeed;
      this
        .objLi[i]
        .style
        .top = this
        .objTop[i] + "px";
    }
    if (this.objTop[0] % this.height == 0) {
      this.jump();
    } else {
      clearTimeout(this.timer);
      this.timer = setTimeout(this.name + ".move()", 50);
    }
  }

  textScroll.prototype.jump = function () {
    for (var i = 0; i < this.num; i++) {
      if (this.objTop[i] == this.height * (-2)) {
        this.objTop[i] = this.objTop[i] + this.totalHeight;
        this
          .objLi[i]
          .style
          .top = this
          .objTop[i] + "px";
      }
    }
    clearTimeout(this.timer);
    this.timer = setTimeout(this.name + ".move()", 3000);
  }

  textScroll.prototype.start = function () {
    this.timer = setTimeout(this.name + ".move()", 3000);
  }

  var real_search_keyword = new textScroll('scroll'); // 스크롤링 하고자하는 ul 엘리먼트의 id값을 인자로 넣습니다
  real_search_keyword.name = "real_search_keyword"; // 인스턴스 네임을 등록합니다
  real_search_keyword.start(); // 스크롤링 시작
</script>

{% endblock content %}