{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}    
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block css %}
<link href="summernote-bs5.css" rel="stylesheet">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />

{% endblock css %}


{% block content %}
<div class="container mt-5">
    <form action="" method="POST" enctype="multipart/form-data" class="d-flex justify-content-center">
        {% csrf_token %}
        <div>
            <div>
                {{comment_form.as_table}}
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" id="write" class="button button--wayra button--border-thick button--text-upper button--size-s m-0">피셜 등록</button>
            </div>
        </div>
    </form>
</div>
{% endblock content%}

{% block js %}
<!-- summernote 적용, 커스텀 -->
<script>
  $('#summernote').summernote({
    placeholder: '여기에 내용 입력하세요~ 그림파일 용량은 2MB까지입니다~',
    height: 300,  focus:true,  maxWidth:500,  
    lang : 'ko-KR',
    maximumImageFileSize:2000,
    callbacks: {
      onImageUpload: function(image) {
             var file = image[0];
             var reader = new FileReader();
            reader.onloadend = function() {
                var image = $('<img>').attr('src',  reader.result);
                   image.attr('width','100%');
                $('#summernote').summernote("insertNode", image[0]);
            }
           reader.readAsDataURL(file);
           
      }  
    }
 });
</script>

<!-- 페이지 벗어나기 경고창 -->
<script type="text/javascript">
    var checkUnload = true;
    $(window).on('beforeunload', function () {
        if (checkUnload) return "이 페이지를 벗어나면 작성된 내용은 저장되지 않습니다.";
    });
    $("#write").on("click", function () {
        checkUnload = false;
        $("submit").submit();
    });
</script>

<script type="text/javascript" src="cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/js/lang/summernote-ko-KR.js"></script>
<script src="summernote-bs5.js"></script>
{% endblock js %}