{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load django_bootstrap5 %}

{% block content %}

  <!-- 선수별 뇌피셜 페이지 -->

  <div class="container-css">
    <!-- 선수 정보 -->
    <div class="d-flex flex-column justify-content-center align-items-center m-0">
      <div class="player-pic-wrapper mb-5">
        <img class="player-pic" src="{{ player.player_image }}" alt="선수 사진">
      </div>
      <h2 class="text-center fw-bold mb-0" style="font-size: 2.5rem;">
        {{ player.name }}
      </h2>
      <p class="fw-bold mb-0" style="font-size: 2.5rem;">
        {{ player.english_name }}
        <a href="{{ sns.sns_url }}" class="" target="_blank">
          <img src="{% static 'images/IG_logo.png' %}" alt="instagram" class="instagram">
        </a>
      </p>
      <p class="fw-bold" style="font-size: 2.5rem;">
        <span>
          {{ player.back_number }}
        </span>
        <span class="text-red">
          {{ player.position }}
        </span>
      </p>
      <p style="font-size: 1.8rem;">
        {{ player.birthdate }}
        /
        {{ player.height }}cm /
        {{ player.weight }}kg
      </p>
      <p style="font-size: 1.8rem; margin-bottom: .5rem;">
        {{ player.team }}
      </p>
      <small class="text-muted">
        소속은 대표팀으로 선발되었을 당시 소속 입니다.
      </small>
      <!-- 응원하기 버튼 -->
      <div>
        {% if request.user.is_authenticated %}
          <form class="like-forms d-flex justify-content-center mt-4" data-player-id="{{ player.pk }}">
            {% csrf_token %}
            {% if request.user in player.fans.all %}
              <div class='d-flex align-items-center'>
                <i class="bi bi-x-lg m-2" id="support-{{ player.pk }}"></i>
                <button type="submit" class="btn btn-outline-navy mt-3 mb-1" id="like-{{ player.pk }}">
                  응원취소
                </button>
              </div>
            {% else %}
              <div class='d-flex align-items-center'>
                <i class="bi bi-hand-thumbs-up m-2" id="support-{{ player.pk }}"></i>
                <button type="submit" class="btn btn-navy mt-3 mb-1" id="like-{{ player.pk }}">
                  응원하기
                </button>
              </div>
            {% endif %}
          </form>

          <!-- 로그인 안된 경우 -->
        {% else %}
          <div>
            <button class="btn btn-navy mt-5 mb-1" data-bs-toggle="modal" data-bs-target="#loginModal">
              <i class="bi bi-hand-thumbs-up"></i>
              응원하기
            </button>
          </div>
          <!-- 로그인 Modal -->
          <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
              <div class="modal-content" style="width: 40rem; height: rem;">
                <div class="d-flex justify-content-end my-4">
                  <button type="button" class="btn-close me-4" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center pt-0">
                  로그인 후 이용해 주세요.
                </div>
                <div class="d-flex justify-content-center my-4">
                  <a class="btn btn-navy me-1" href="{% url 'accounts:login' %}">로그인</a>
                  <a class="btn btn-outline-navy ms-2" href="{% url 'accounts:signup' %}">회원가입</a>
                </div>
              </div>
            </div>
          </div>
          <!-- 로그인 Modal -->
        {% endif %}
        <small>
          <span id="like-count">{{player.fans.all|length}}</span>명이 응원해요
        </small>
      </div>
    </div>

    <!-- 하단 채팅 레이아웃 -->
    <div class="d-flex justify-content-center my-5">
      <div class="col-8" style="width: 50rem;" onclick="loadChat">
        <div class="wrap row justify-content-center">
          <!-- 입력창 모양 -->
          <div class="col-11">
            <div class="d-flex align-items-center mb-4">
              <p class="text-navy fw-bold mb-0" style="font-size: 1.8rem;">{{ player.comment_set.count }}개의 피셜</p>
              <button class="reload bi bi-arrow-clockwise rounded-circle ms-3" onclick="window.location.reload()"></button>
            </div>
            <a href="{% url 'korea:comment_create' player.pk %}">
              <div class="input-group mb-3" style="height: 4.1rem;">
                <input disabled="disabled" style="background-color: white;" type="text" class="form-control" placeholder="선수에 대해 알고있는 정보를 공유해 주세요!" aria-label="피셜 작성" aria-describedby="basic-addon2">
                <span class="input-group-text text-white d-flex justify-content-center" id="basic-addon2" style="width: 10rem; font-size: 1.6rem; background-color: #111b54;">등록</span>
              </div>
            </a>
          </div>

          <!-- 피셜 출력 -->
          {% for comment in comments %}
            <!-- 피셜 수정 시간 조건문 -->
            {% if request.user.pk in block_list and comment.pk in block_comment %}
              <div class="comment form-hidden" data-comment-id="{{comment.pk}}" data-player-id="{{ player.pk }}" id="report-{{comment.pk}}">
                <div class="chat ch1 align-items-center">
                  <div class="textbox">
                    <div class="d-flex justify-content-between mb-4">
                      <a class="a-navy-red fw-bold" href="{% url 'accounts:detail' comment.user.pk %}">{{ comment.user.username }}</a>
                      <div>
                        <small class="text-muted">
                          <i class="bi bi-suit-heart-fill" id="like-count-{{ comment.pk }}">{{ comment.like_users.all|length }}</i>
                        </small>
                        <small class="text-muted">|</small>
                        <small class="text-muted">
                          <!-- 작성/수정시간 -->
                          {% if comment.is_updated == False %}
                            {% if comment.created_string == False %}
                              <span>{{ comment.created|date:'Y.m.d' }}</span>
                            {% else %}
                              <span>{{ comment.created_string }}</span>
                            {% endif %}
                          {% else %}
                            {% if comment.created_string == False %}
                              {{ comment.updated_at|date:'Y.m.d' }}
                            {% else %}
                              {{ comment.created_string }}
                            {% endif %}
                            (수정됨)
                          {% endif %}
                        </small>
                        {% if request.user.is_authenticated %}
                          <small class="text-muted">|</small>
                          <!-- 작성자만 수정 삭제 -->
                          {% if user.is_authenticated and comment.user == request.user %}
                            <a href="{% url 'korea:comment_update' player.pk comment.pk %}" class="small text-muted">수정</a>
                            <small class="text-muted">|</small>
                            <a href="" class="small text-muted" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ comment.pk }}">삭제</a>
                            <!-- 댓글 삭제 Modal -->
                            <div class="modal fade" id="deleteModal-{{ comment.pk}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
                                <div class="modal-content" style="width: 40rem; height: rem;">
                                  <div class="d-flex justify-content-end my-4">
                                    <button type="button" class="btn-close me-4" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body text-center" data-bs-target="#deleteModal-{{ comment.pk }}">
                                    피셜을 삭제하시면
                                    {{user.exp}}점에서
                                    {{ comment.like_users.count|mul:2 |add:1 }}점이 차감됩니다. 삭제하시겠습니까?
                                  </div>
                                  <div class="d-flex justify-content-center my-4">
                                    <button type="button" class="btn btn-navy me-1" data-bs-dismiss="modal">취소</button>
                                    <a href="{% url 'korea:comment_delete' player.pk comment.pk %}" class="btn btn-outline-navy ms-2">삭제</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- 댓글 삭제 Modal -->
                          {% else %}
                            <div class="modal fade" id="reportModal-{{ comment.pk }}" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
                                <div class="modal-content" style="width: 40rem; height: rem;">
                                  <div class="d-flex justify-content-end my-4">
                                    <button type="button" class="btn-close me-4" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body text-center" data-bs-target="#reportModal-{{ comment.pk }}">
                                    해당 피셜을 신고하시겠어요?<br>(신고 후 해당 피셜은 숨김 처리 됩니다.)
                                  </div>
                                  <form class="report-form" method="POST" data-bs-target="#reportModal-{{ comment.pk }}" data-comment-id="{{ comment.pk }}" data-player-id="{{ comment.players.pk }}">
                                    {% csrf_token %}
                                    <div class="d-flex justify-content-center my-4">
                                      <button type="button" class="btn btn-navy me-1" data-bs-dismiss="modal">취소</button>
                                      <button type="submit" class="btn btn-outline-navy ms-2" data-bs-dismiss="modal">
                                        신고하기
                                      </button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- 신고 Modal -->
                          {% endif %}
                        {% endif %}
                      </div>
                    </div>

                    <!-- 피셜 내용 -->
                    <p>
                      <!-- 이미지가 있으면 크기 조정-->
                      {{ comment.content | safe }}
                    </p>
                  </div>
                  <!-- textbox -->

                  <!-- 좋아요 버튼 -->
                  {% if request.user.is_authenticated %}
                    <form class=" like-form" data-comment-id="{{ comment.pk }}" data-player-id="{{ player.pk }}">
                      {% csrf_token %}
                      {% if request.user in comment.like_users.all %}
                        <button class="btn border-0 ms-3" style="background-color: transparent;" type="submit" id="like-comment-{{ comment.pk }}">
                          <i id="like-i-{{ comment.pk }}" class="like-fficial bi bi-suit-heart-fill"></i>
                        </button>
                      {% else %}
                        <button class="btn border-0 ms-3" style="background-color: transparent;" type="submit" id="like-comment-{{ comment.pk }}">
                          <i id="like-i-{{ comment.pk }}" class="like-fficial bi bi-suit-heart"></i>
                        </button>
                      {% endif %}
                    </form>
                  {% else %}
                    <!-- 로그인 안한 경우 -->
                    <button class="btn border-0 ms-3" style="background-color: transparent;" data-bs-toggle="modal" data-bs-target="#loginModal">
                      <i class="like-fficial bi bi-suit-heart"></i>
                    </button>
                    <!-- 로그인 Modal -->
                    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
                        <div class="modal-content" style="width: 40rem; height: rem;">
                          <div class="d-flex justify-content-end my-4">
                            <button type="button" class="btn-close me-4" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body text-center pt-0">
                            로그인 후 이용해 주세요.
                          </div>
                          <div class="d-flex justify-content-center my-4">
                            <a class="btn btn-navy me-1" href="{% url 'accounts:login' %}">로그인</a>
                            <a class="btn btn-outline-navy ms-2" href="{% url 'accounts:signup' %}">회원가입</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 로그인 Modal -->
                  {% endif %}
                </div>
              </div>
            {% else %}
              <!-- 피셜 수정 시간 조건문 -->
              <div class="comment" data-comment-id="{{comment.pk}}" data-player-id="{{ player.pk }}" id="report-{{comment.pk}}">
                <div class="chat ch1 align-items-center">
                  <div class="textbox">
                    <div class="d-flex justify-content-between mb-4">
                      <a class="a-navy-red fw-bold" href="{% url 'accounts:detail' comment.user.pk %}">{{ comment.user.username }}</a>
                      <div>
                        <small class="text-muted">
                          <i class="bi bi-suit-heart-fill" id="like-count-{{ comment.pk }}">{{ comment.like_users.all|length }}</i>
                        </small>
                        <small class="text-muted">|</small>
                        <small class="text-muted">
                          {% if comment.is_updated == False %}
                            {% if comment.created_string == False %}
                              {{ comment.created|date:'Y.m.d' }}
                            {% else %}
                              {{ comment.created_string }}
                            {% endif %}
                          {% else %}
                            {% if comment.created_string == False %}
                              {{ comment.updated_at|date:'Y.m.d' }}
                            {% else %}
                              {{ comment.created_string }}
                            {% endif %}
                            (수정됨)
                          {% endif %}
                        </small>
                        {% if request.user.is_authenticated %}
                          <small class="text-muted">|</small>
                          <!-- 작성자만 수정 삭제 -->
                          {% if user.is_authenticated and comment.user == request.user %}
                            <a href="{% url 'korea:comment_update' player.pk comment.pk %}" class="small text-muted">수정</a>
                            <small class="text-muted">|</small>
                            <a href="" class="small text-muted" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ comment.pk }}">삭제</a>
                            <!-- 댓글 삭제 Modal -->
                            <div class="modal fade" id="deleteModal-{{ comment.pk}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
                                <div class="modal-content" style="width: 40rem; height: rem;">
                                  <div class="d-flex justify-content-end my-4">
                                    <button type="button" class="btn-close me-4" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body text-center" data-bs-target="#deleteModal-{{ comment.pk }}">
                                    피셜을 삭제하시면
                                    {{user.exp}}점에서
                                    {{ comment.like_users.count|mul:2 |add:1 }}점이 차감됩니다. 삭제하시겠습니까?
                                  </div>
                                  <div class="d-flex justify-content-center my-4">
                                    <button type="button" class="btn btn-navy me-1" data-bs-dismiss="modal">취소</button>
                                    <a href="{% url 'korea:comment_delete' player.pk comment.pk %}" class="btn btn-outline-navy ms-2">삭제</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- 댓글 삭제 Modal -->
                          {% else %}

                            <!-- 신고 버튼 -->
                            {% if comment.pk in block_count %}
                              {% for k, v in block_dict.items %}
                                {% if comment.pk == k %}
                                  <a href="" class="small text-muted" data-bs-toggle="modal" data-bs-target="#reportModal-{{ comment.pk }}">신고({{v}})</a>
                                {% endif %}
                              {% endfor %}
                            {% else %}
                              <a href="" class="small text-muted" data-bs-toggle="modal" data-bs-target="#reportModal-{{ comment.pk }}">신고</a>
                            {% endif %}
                            <!-- 신고 Modal -->
                            <div class="modal fade" id="reportModal-{{ comment.pk }}" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
                                <div class="modal-content" style="width: 40rem; height: rem;">
                                  <div class="d-flex justify-content-end my-4">
                                    <button type="button" class="btn-close me-4" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body text-center" data-bs-target="#reportModal-{{ comment.pk }}">
                                    해당 피셜을 신고하시겠어요?<br>(신고 후 해당 피셜은 숨김 처리 됩니다.)
                                  </div>
                                  <form class="report-form" method="POST" data-bs-target="#reportModal-{{ comment.pk }}" data-comment-id="{{ comment.pk }}" data-player-id="{{ comment.players.pk }}">
                                    {% csrf_token %}
                                    <div class="d-flex justify-content-center my-4">
                                      <button type="button" class="btn btn-navy me-1" data-bs-dismiss="modal">취소</button>
                                      <button type="submit" class="btn btn-outline-navy ms-2" data-bs-dismiss="modal">
                                        신고하기
                                      </button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- 신고 Modal -->
                          {% endif %}
                        {% endif %}
                      </div>
                    </div>

                    <!-- 피셜 내용 -->
                    <p>
                      <!-- 이미지가 있으면 크기 조정-->
                      {{ comment.content | safe }}
                    </p>
                  </div>
                  <!-- textbox -->

                  <!-- 좋아요 버튼 -->
                  {% if request.user.is_authenticated %}
                    <form class=" like-form" data-comment-id="{{ comment.pk }}" data-player-id="{{ player.pk }}">
                      {% csrf_token %}
                      {% if request.user in comment.like_users.all %}
                        <button class="btn border-0 ms-3" style="background-color: transparent;" type="submit" id="like-comment-{{ comment.pk }}">
                          <i id="like-i-{{ comment.pk }}" class="like-fficial bi bi-suit-heart-fill"></i>
                        </button>
                      {% else %}
                        <button class="btn border-0 ms-3" style="background-color: transparent;" type="submit" id="like-comment-{{ comment.pk }}">
                          <i id="like-i-{{ comment.pk }}" class="like-fficial bi bi-suit-heart"></i>
                        </button>
                      {% endif %}
                    </form>
                  {% else %}
                    <!-- 로그인 안한 경우 -->
                    <button class="btn border-0 ms-3" style="background-color: transparent;" data-bs-toggle="modal" data-bs-target="#loginModal">
                      <i class="like-fficial bi bi-suit-heart"></i>
                    </button>
                    <!-- 로그인 Modal -->
                    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
                        <div class="modal-content" style="width: 40rem; height: rem;">
                          <div class="d-flex justify-content-end my-4">
                            <button type="button" class="btn-close me-4" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body text-center pt-0">
                            로그인 후 이용해 주세요.
                          </div>
                          <div class="d-flex justify-content-center my-4">
                            <a class="btn btn-navy me-1" href="{% url 'accounts:login' %}">로그인</a>
                            <a class="btn btn-outline-navy ms-2" href="{% url 'accounts:signup' %}">회원가입</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 로그인 Modal -->
                  {% endif %}
                </div>
              </div>
            {% endif %}
            <!-- 신고하기 조건문 -->
          {% endfor %}
        </div>
        <!-- wrap -->
      </div>
      <!-- col-8 -->
    </div>
    <!-- 하단 채팅 레이아웃 -->
  </div>
  <!-- container -->

  <!-- script -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.js"></script>

  <script>
    // summernote 적용, 커스텀
    $('#summernote').summernote({
      height: 300,
      focus: true,
      maxWidth: 500,
      lang: 'ko-KR',
      callbacks: {
        onImageUpload: function (image) {
          var file = image[0];
          var reader = new FileReader();
          reader.onloadend = function () {
            var image = $('<img>').attr('src', reader.result);
            image.attr('width', '100%');
            $('#summernote').summernote("insertNode", image[0]);
          }
          reader.readAsDataURL(file);
        }
      }
    });
  </script>

  <script type="text/javascript">
    // 페이지 벗어나기 경고창
    var checkUnload = true;
    $(window).on('beforeunload', function () {
      if (checkUnload) 
        return "이 페이지를 벗어나면 작성된 내용은 저장되지 않습니다.";
      }
    );
    $("#write").on("click", function () {
      checkUnload = false;
      $("submit").submit();
    });
  </script>

  <!-- <script type="text/javascript" src="cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> <script type="text/javascript" src="/static/js/lang/summernote-ko-KR.js"></script> <script src="summernote-bs5.js"></script> -->
  <!-- 응원하기 -->
  <script>
    const forms = document.querySelectorAll(".like-forms")
    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value

      forms
      .forEach((form) => {
        form.addEventListener('submit', function (event) {
          event.preventDefault();
          const playerId = event
            .target
            .dataset
            .playerId

            axios({
              method: 'post',
              url: `/korea/like_player/${playerId}`,
              headers: {
                'X-CSRFToken': csrftoken
              }
            })
            .then((response) => {
              const isLikeds = response.data.is_likeds
              const likeBtnp = document.querySelector(`#like-${playerId}`)
              const likeIcon = document.querySelector(`#support-${playerId}`)
              if (isLikeds === true) {
                likeBtnp
                  .classList
                  .remove('btn-navy')
                likeIcon
                  .classList
                  .remove('bi-hand-thumbs-up')
                likeBtnp
                  .classList
                  .add('btn-outline-navy')
                likeIcon
                  .classList
                  .add('bi-x-lg')
                likeBtnp.innerText = "응원취소"
              } else {
                likeBtnp
                  .classList
                  .remove('btn-outline-navy')
                likeIcon
                  .classList
                  .remove('bi-x-lg')
                likeBtnp
                  .classList
                  .add('btn-navy')
                likeIcon
                  .classList
                  .add('bi-hand-thumbs-up')
                likeBtnp.innerText = "응원하기"
              }
              const likeCountTag = document.querySelector('#like-count')
              const likeCount = response.data.like_count
              likeCountTag.innerText = likeCount
            })
        })
      })
  </script>

  <!-- 좋아요 -->
  <script>
    const form = document.querySelectorAll('.like-form')
    const csrftokens = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value

      form
      .forEach((form) => {
        form.addEventListener('submit', function (event) {
          event.preventDefault()
          const playerId = event.target.dataset.playerId
          const commentId = event
            .target
            .dataset
            .commentId

            axios({
              method: 'post',
              url: `/korea/detail/${playerId}/${commentId}/likes/`,
              headers: {
                'X-CSRFToken': csrftokens
              }
            })
            .then((response) => {
              const isLiked = response.data.is_liked
              const likeBtn = document.querySelector(`#like-i-${commentId}`)
              if (isLiked === true) {
                likeBtn
                  .classList
                  .remove('bi-suit-heart')
                likeBtn
                  .classList
                  .add('bi-suit-heart-fill')
              } else {
                likeBtn
                  .classList
                  .remove('bi-suit-heart-fill')
                likeBtn
                  .classList
                  .add('bi-suit-heart')
              }
              const likeCountTag = document.querySelector(`#like-count-${commentId}`)
              const likeCount = response.data.likeCount
              likeCountTag.innerText = likeCount
            })
            .catch((error) => {
              console.log(error.response)
            })
          })
      })
  </script>

  <!-- 신고하기 스크립트 -->
  <script>
    const reportForm = document.querySelectorAll(".report-form")
    const csrftoken_report = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value

      reportForm
      .forEach((form) => {
        form.addEventListener('submit', function (event) {
          event.preventDefault()
          const playerId = event.target.dataset.playerId
          const commentId = event
            .target
            .dataset
            .commentId

            axios({
              method: 'post',
              url: `/korea/detail/${playerId}/${commentId}/block/`,
              headers: {
                'X-CSRFToken': csrftoken_report
              }
            })
            .then((response) => {
              const isReport = response.data.is_report
              const reportDiv = document.querySelector(`#report-${commentId}`)
              if (isReport === true) {
                reportDiv
                  .classList
                  .add('form-hidden')
              }
            })
            .catch((error) => {
              console.log(error.response)
            })
          })
      })
  </script>
{% endblock %}