{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container my-3">
    <h1 class="text-center">{{ player.name }}
      선수</h1>
    <hr>
    <br>
    <div class="text-center">
      <img src="{{ player.profile_image }}" alt="선수 사진">
      <p>이름 :
        {{ player.name }}</p>
      <p>
        {{ player.english_name }}</p>
      <p>등번호 :
        {{ player.back_number }}</p>
      <p>
        {{ player.birthdate }}</p>
      <p>소속 팀 :
        {{ player.team }}</p>
      <p>포지션 :
        {{ player.position }}</p>
      <p>신장 :
        {{ player.height }}cm</p>
      <p>몸무게 :
        {{ player.weight }}kg</p>
    </div>
    <div>
      <p>fan :
        {{ player.fans.count }}</p>
      {% if request.user.is_authenticated %}
        <form class="like-forms" data-player-id="{{ player.pk }}">
          {% csrf_token %}
          {% if request.user in players.fans.all %}
            <input type="submit" class="btn btn-danger my-3" id="like-{{ player.pk }}" value="응원 취소">
          {% else %}
            <input type="submit" class="btn btn-dark my-3" id="like-{{ player.pk }}" value="응원 해요">
          {% endif %}
        </form>
      {% endif %}
    </div>
    <hr>
    {% if master == "admin" %}
      <button class="btn btn-dark">
        <a href="{% url "korea:delete" player.pk %}">선수 삭제</a>
      </button>
    {% endif %}
  </div>
  <!-- 하단에 comment 내용 구현 추가 예정-->

  <!-- script -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const forms = document.querySelectorAll(".like-forms")
    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value

      forms
      .forEach((form) => {
        form.addEventListener('submit', function (event) {
          event.preventDefault();
          const playerId = event
            .target
            .dataset
            .playerId

            axios({
              method: 'post',
              url: `http://127.0.0.1:8000/korea/like_player/${playerId}`,
              headers: {
                'X-CSRFToken': csrftoken
              }
            })
            .then((response) => {
              console.log(response.data)
              const isLiked = response.data.is_liked
              const likeBtn = document.querySelector(`#like-${playerId}`)
              if (isLiked === true) {
                likeBtn.value = "응원 취소"
              } else {
                likeBtn.value = "응원 해요"
              }
            })
        })
      })
  </script>
{% endblock %}