{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <style>
    @media only screen and (min-width: 800px) {
      .rule-width {
        margin-left: 25rem;
        margin-right: 25rem;
        padding-top: 10rem;
        margin-bottom: 10rem;
      }
    }

    @media only screen and (max-width: 800px) {
      .rule-width {
        margin-left: 5rem;
        margin-right: 5rem;
        padding-top: 10rem;
        margin-bottom: 10rem;
      }
    }

    a:hover {
      color: white;
    }

    .accordion-button {
      font-size: 2rem;
    }
  </style>

  <div class="rule-width">
    <div>
      <h1 style="font-size: 3rem; padding-bottom: 2rem; padding-top: 5rem" class="fw-bold text-center">축구규칙</h1>
      <div class='d-flex justify-content-center mb-3'>
        <div style="border-top:0.1rem solid black; width: 245px;"></div>
      </div>
      <p class='container text-center' style='font-size:1.6rem; padding:1.875rem; margin-bottom: 2rem; color:#6c757d'>각 규칙을 클릭해보세요</p>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" style="background-color:#111b54;color:white;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              1. 규칙의 제정
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              축구의 규칙은 국제축구평의회(IFAB)에서 결정한다. 국제축구평의회는 잉글랜드 축구 협회·스코틀랜드 축구 협회·웨일스 축구 협회·북아일랜드 축구 협회에서 각 1명씩, FIFA의 4명을 합해 총 8인으로 구성되며, 8명 중 6명이 안건에 찬성하면 통과된다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              2. 경기 방식(Rule)
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              경기를 치르는 양쪽 팀은 필드에 각각 11명을 출전시킨다. 골키퍼를 제외한 모든 선수들은 뜨로잉 상황을 제외하면 손을 사용할 수 없고, 골키퍼만이 자기편 페널티 박스 안에서 제한적으로 손을 쓸 수 있다. 슛은 골대나 골키퍼에 막히거나, 아웃되었을 때에는 인정되지만 수비수에 막혔을 때는 인정되지 않는다. 즉, 이론적으로 슈팅 갯수 0개도 가능하다. 양 팀의 선수들은 상대 선수를 잡는 동작(홀딩), 손을 이용해 공을 건드리는 행위(핸드볼), 상대선수를 미는 동작(푸싱), 오프사이드 등 규정에서 금하고 있는 반칙 행위 없이 정상적인 과정을 거쳐 손과 팔을 제외한 모든 신체부위를 이용하여 공을 상대방의 골대에 그어진 골 라인 안으로 100% 집어넣어서 득점을 해야 하며, 양팀이 성공한 득점의 개수를 비교해 승패를 결정한다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              3. 경기 시간(Time)
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              정규 시간은 90분이며 전, 후반으로 나눠 각각 45분으로 진행되면서 그 어떤 상황에서도 시간은 계속 흐른다. 그러나 전, 후반의 45분이 각각 끝나면 경기 도중의 반칙, 선수들의 부상이나 교체 등으로인해 소모된 시간을 계산하여 몇 분 간의 추가시간이 주어진다. 예전에는 주심이 마음대로 추가시간을 결정했으나, 최근에는 기록원이 이를 결정하며 다만 추가시간 도중 경기에서 추가시간을 부여할 여지가 생기면 주심에게 약간의 재량이 주어진다. 최근 도입된 VAR 판독이 있다면 의무적으로 3분이 추가된다. 일반적으로는 5분 내외로 주어지는 편. 전후반 사이의 휴식 시간은 15분이다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              4. 득점(Goal)
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              팔과 손을 제외한 신체 부위로 공을 차서 골대 안으로 공을 넣으면 득점으로 1점을 부여한다. 다시 말하면 스로인 상황에서 손으로 던진 공은 골대 안으로 들어가도 득점으로 인정되지 않는다. 다만 스로인한 공이 다른 선수에 맞고 들어가면 득점으로, 스로인은 도움으로 인정된다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
              5. 연장전
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              결선 토너먼트를 비롯해서 무승부 상황이 없는 경기의 경우, 전후반 90분의 정규시간에 승부가 나지 않을 시 연장전을 진행한다. 연장전은 전·후반 15분씩 총 30분간 진행해 재차 승부를 가른다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive-1">
            <button class="accordion-button" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive-1" aria-expanded="true" aria-controls="collapseFive-1">
              5.1 연장전에서도 동점이면?
            </button>
          </h2>
          <div id="collapseFive-1" class="accordion-collapse collapse" aria-labelledby="headingFive-1" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              만약 연장전 30분을 다 소화하고도 승부가 나지 않는다면 별도의 방법으로 승부를 가른다. 초기에는 재경기를 진행하거나 동전 던지기로 승부를 정했으며, 현재는 거의 다 승부차기로 승패를 가르고 있다. 단, 승부차기를 진행할 경우 공식 기록은 무승부로 간주된다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
              6. 선수 교체(Substitute)
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              FIFA 주관의 모든 공식 대회에서 기본적으로 벤치에는 7명이 앉을 수 있고, 그 가운데 선수 교체는 3명까지 할 수 있다. 경기장으로 나온 선수를 도로 빼는 것은 가능하지만 벤치로 들어간 선수를 재투입할 수는 없다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              7. 프리킥(Free kick)
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              한 선수가 태클 등의 반칙을 하였을때 그 반칙을 한 장소에서 상대편 선수가 방해받지 않고 말 그대로 자유롭게 공을 차는 규칙. 단, 선수가 공에 발을 대는 순간 상대편 또는 다른 선수가 찬 공을 건드릴 수 있다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              8. 페널티 킥(Penalty Kick)
            </button>
          </h2>
          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              공격 상황에서 상대편이 페널티 에어리어 안에서 직접 프리킥에 해당하는 파울을 하게 되면 11m 정방향에서 자유롭게 공을 찰 수 있는 기회를 준다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingNine">
            <button class="accordion-button collapsed" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              9. 코너킥(Corner kick)
            </button>
          </h2>
          <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              수비로 인해 공이 골라인 밖으로 나간 경우, 또는 골키퍼를 맞고 나간 경우 상대편이 모서리 방향에서 공을 차는 코너킥이 주어진다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTen">
            <button class="accordion-button collapsed" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              10. 골킥(Goal kick)
            </button>
          </h2>
          <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              공격으로 인해 공이 골라인 밖으로 나간 경우는 상대편에게 골킥으로 공격기회를 넘긴다. 골 에어리어 안에 공을 놓고 차며, 직접 킥이므로 볼이 다른 선수의 신체에 닿지 않고 직접 상대팀 골대로 들어가면 득점으로 인정된다.<br>
              가능성은 매우 희박하지만 골킥이 자기팀 골대로 들어가면 상대팀의 득점이 아니라 코너킥이 되며, 상대 골키퍼 골킥 시 상대 페널티 박스에 들어가는 건 안 된다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTenone">
            <button class="accordion-button collapsed" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTenone" aria-expanded="false" aria-controls="collapseTenone">
              11. 스로인(Throw-in)
            </button>
          </h2>
          <div id="collapseTenone" class="accordion-collapse collapse" aria-labelledby="headingTenone" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              드로인이라고도 한다. 공이 사이드라인 밖으로 나간 경우 공을 마지막으로 터치한 팀의 상대 선수가 손으로 공을 던져 경기를 재개한다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTentwo">
            <button class="accordion-button collapsed" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTentwo" aria-expanded="false" aria-controls="collapseTentwo">
              12. 킥오프(Kick-off)
            </button>
          </h2>
          <div id="collapseTentwo" class="accordion-collapse collapse" aria-labelledby="headingTentwo" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              전후반을 시작할 때 경기장 가운데에서 킥오프로 시작하며 또한 득점이 발생했을 때 실점한 팀의 킥오프로 경기를 재개한다. 하프 라인 한가운데에 있는 센터 마크에 공을 놓고 차서 실시한다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThirteen">
            <button class="accordion-button collapsed" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
              13. 드롭볼(Drop-ball)
            </button>
          </h2>
          <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              규정에 명시되지 않은 이런저런 잡다한 이유로 경기가 중단되었을 때에는 중단된 순간 볼이 있었던 장소에서 심판이 드롭볼을 하는 것으로 경기를 재개한다. 볼이 바닥에 닿는 순간 인플레이이며, 드롭볼에 참여하는 선수들은 볼이 바닥에 닿기 전에 신체를 볼에 갖다 대선 안 된다. 또한 볼이 바닥에 닿은 후 어느 누구의 몸에도 닿지 않고 경기장을 벗어나도 안 된다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTenfour">
            <button class="accordion-button collapsed" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTenfour" aria-expanded="false" aria-controls="collapseTenfour">
              14. 반칙(Foul)
            </button>
          </h2>
          <div id="collapseTenfour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              밀거나(푸싱) 잡거나(홀딩) 손과 팔을 쓰거나(핸드볼), 공이 아닌 상대 다리를 노리거나 발바닥을 들고 들어가는 거친 태클, 시뮬레이티드 파울, 일부러 공으로 상대 선수를 맞추는 행위 등은 파울이 주어지며 경우에 따라선 카드가 주어지기도 한다. 단, 수비자의 핸드볼의 경우 의도성이 없다고 판단될 경우 심판이 그냥 넘어가기도 하지만 공격자의 경우에는 의도성과 관계 없이 핸드볼은 무조건 파울이다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTenfour-1">
            <button class="accordion-button collapsed" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTenfour-1" aria-expanded="false" aria-controls="collapseTenfour-1">
              14.1. 오프사이드(Offside)
            </button>
          </h2>
          <div id="collapseTenfour-1" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              비교적 간단하고 알기 쉽다는 축구 규칙 중 가장 난해한 것 중 하나다. 룰 자체는 짤막하게 명문화 할 수 있을 정도로 간단하다. 팀 동료가 상대편 최후방 수비수보다 앞서 있는 상황에서 공을 받는 상황을 말한다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTenfour-2">
            <button class="accordion-button collapsed" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTenfour-2" aria-expanded="false" aria-controls="collapseTenfour-2">
              14.2. 몰수패
            </button>
          </h2>
          <div id="collapseTenfour-2" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              11명에서 5명이 퇴장하고 한 팀의 인원이 6명 이하가 될 경우, 그 팀에게 선수 부족으로 몰수패를 선언한다.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTenfive">
            <button class="accordion-button collapsed" style="background-color:#111b54;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTenfive" aria-expanded="false" aria-controls="collapseTenfive">
              15. VAR
            </button>
          </h2>
          <div id="collapseTenfive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="font-size:1.6rem">
              VAR 심판은 비디오실(VOR, Video Operation Room)에서 각종 카메라를 통해 송출되는 모든 경기 화면을 지켜보고, 주심이 오심의 우려가 있는 판정을 내렸을 때 이를 주심에게 고지한다. 다만 모든 판정을 일일이 확인할 수는 없으니 경기에 결정적인 영향을 미치는 장면만 재확인하는데, 득점 관련 상황, 선수 퇴장 관련 상황, 페널티킥 판정 상황 및 페널티킥 규정 관련 사항에서만 판독을 실시한다.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}