{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>베스트일레븐 :: BEST 11</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

  <body>
    <!-- 헤더 영역 - 네비게이션 바 -->
    <header class="header">
      <a class="logo" href="{% url 'korea:index' %}"><img src="{% static 'images/logo.png' %}" alt="logo" style="width: 200px;"></a>
      <input class="menu-btn" type="checkbox" id="menu-btn"/>
      <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span></label>
      <ul class="menu">
        <li>
          {% if request.user.is_authenticated %}
            <a href="{% url 'accounts:special_feed' user.pk %}" class="header-a link link-theme link-arrow">피셜피드</a>
          {% else %}
            <a href="{% url 'accounts:login' %}" class="header-a link link-theme link-arrow">피셜피드</a>
          {% endif %}
        </li>
        <li>
          <a href="#three" class="header-a link link-theme link-arrow">경기일정</a>
        </li>
        <li>
          <a href="{% url 'korea:rule' %}" class="header-a link link-theme link-arrow">축구상식</a>
        </li>
        <li>
          <a href="{% url 'korea:game' %}" class="header-a link link-theme link-arrow">미니게임</a>
        </li>
      </ul>
    </header>
    <!-- 헤더 영역 - 회원관리 버튼 -->
    <div class="ball-and-shadow" data-bs-toggle="modal" data-bs-target="#ballModal">
      <div class="ball-container">
        {% if request.user.is_authenticated %}
          {% if request.user.profile_image %}
            <img src="{{ request.user.profile_image.url }}" style="width: 10rem; height: 10rem; border-radius: 50%; border: 0.6px solid #6c757d7f;" alt="profile">
          {% else %}
            <img src="{% static 'images/Soccer-Ball.png' %}" style="width: 8.5rem; height: 8.5rem;" alt="profile">
          {% endif %}
        {% else %}
          <img src="{% static 'images/Soccer-Ball.png' %}" style="width: 8.5rem; height: 8.5rem;" alt="profile">
        {% endif %}
      </div>
      <div class="ball-shadow"></div>
    </div>
    <!-- 헤더 영역 - 회원관리 버튼 - 클릭 시 열리는 모달 -->
    <div class="modal fade" id="ballModal" tabindex="-1" aria-labelledby="ballModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="d-flex justify-content-end">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- 회원에게 보여지는 모달창 -->
            {% if request.user.is_authenticated %}
              <div class="d-flex flex-column align-items-center mt-5 mb-3">
                {% if request.user.profile_image %}
                  <img src="{{ request.user.profile_image.url }}" alt="profile" style="width: 15rem; border-radius: 50%; border: 0.6px solid #6c757d7f;" class="mb-5">
                {% else %}
                  <img src="{% static 'images/Soccer-Ball.png' %}" alt="profile" style="width: 15rem;" class="mb-5">
                {% endif %}
                <p class="fs-3">
                  <span class="fw-bold">
                    {{ request.user.username }}
                  </span>
                  님</p>
              </div>
              <div class="d-flex justify-content-center align-items-center mb-5">
                <a href="{% url 'accounts:detail' request.user.pk %}" class="a-black-red">마이페이지</a>
                <p class="mx-3 mb-0">
                  |
                </p>
                <a href="{% url 'accounts:logout' %}" class="a-black-red">로그아웃</a>
              </div>
              <!-- 비회원에게 보여지는 모달창 -->
            {% else %}
              <div class="d-flex flex-column align-items-center mt-5 mb-3">
                <img src="{% static 'images/Soccer-Ball.png' %}" alt="profile" style="width: 15rem;" class="mb-5">
                <p class="fs-3">
                  <span class="fw-bold">
                    비회원
                  </span>
                  님</p>
              </div>
              <div class="d-flex justify-content-center align-items-center mb-5">
                <a href="{% url 'accounts:login' %}" class="a-black-red">로그인</a>
                <p class="mx-3 mb-0">
                  |
                </p>
                <a href="{% url 'accounts:signup' %}" class="a-black-red">회원가입</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div id="wrapper" class="container-css">
      <!-- content -->
      {% block content %}{% endblock content %}
    </div>

    <!-- Top Button -->
    <div class="topBtn" style="z-index: 2;">
      <button id="hexagon" class="text-white fs-4" onclick="topFunction()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-compact-up" viewbox="0 0 16 16">
          <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z"/>
        </svg>
        <div>
          위로
        </div>
      </button>
    </div>

    <!-- Footer -->
    <footer style="z-index: 1;">
      <hr>
      <!-- Responsive Footer -->
      <div class="footer-content">
        <h4>
          <span class="text-red">
            베스트
          </span>
          <span class="text-navy">
            일레븐
          </span>
        </h4>
        <a href="https://github.com/code-sum/Best11" class="text-secondary">BEST11 홈그라운드</a>
        <a href="#" class="text-secondary">프로젝트 기획서</a>
        <!-- 깃헙프로필 -->
        <div class="d-flex mt-3 mb-4">
          <a href="https://github.com/JeongJinGan" target="_blank" class="">
            <button class="btn border-0 p-0">
              <img src="{% static 'images/간정진.jpg' %}" style="width: 5rem; border-radius: 5rem; border: 0.6px solid #6c757d7f;" alt=""/>
              <p class="pt-2 mb-0">간정진</p>
            </button>
          </a>
          <a href="https://github.com/code-sum" target="_blank" class="">
            <button class="btn border-0 p-0">
              <img src="{% static 'images/이수경.jpg' %}" style="width: 5rem; border-radius: 5rem; border: 0.6px solid #6c757d7f;" alt=""/>
              <p class="pt-2 mb-0">이수경</p>
            </button>
          </a>
          <a href="https://github.com/snnzzoo" target="_blank" class="">
            <button class="btn border-0 p-0">
              <img src="{% static 'images/임선주.jpg' %}" style="width: 5rem; border-radius: 5rem; border: 0.6px solid #6c757d7f;" alt=""/>
              <p class="pt-2 mb-0">임선주</p>
            </button>
          </a>
          <a href="https://github.com/JOO-10000-Zi" target="_blank" class="">
            <button class="btn border-0 p-0">
              <img src="{% static 'images/주세환.jpg' %}" style="width: 5rem; border-radius: 5rem; border: 0.6px solid #6c757d7f;" alt=""/>
              <p class="pt-2 mb-0">주세환</p>
            </button>
          </a>
          <a href="https://github.com/forwardyoung" target="_blank">
            <button class="btn border-0 p-0">
              <img src="{% static 'images/차화영.jpg' %}" style="width: 5rem; border-radius: 5rem; border: 0.6px solid #6c757d7f;" alt=""/>
              <p class="pt-2 mb-0">차화영</p>
            </button>
          </a>
        </div>
      </div>
      <hr>
      <div class="footer-bottom">
        <small class="text-secondary">© 베스트일레븐. 2022. all rights reserved.</small>
      </div>
    </footer>

    <script>
      // Top Button

      // get the button
      let myBtn = document.getElementById("hexagon")

      // When the user scrolls down 30px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (document.body.scrollTop > 650 || document.documentElement.scrollTop > 650) {
          myBtn.style.display = "block";
        } else {
          myBtn.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0; // for Safari
        document.documentElement.scrollTop = 0; // for Chrome, Firefox, IE, and Opera
      }
    </script>

    <!-- Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    {% block script %}{% endblock script %}
  </body>

</html>